{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{titulo}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/skin-blue.css' %}">

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datepicker/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/NProgress/nprogress.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/iCheck/all.css' %}">
</head>

<body class="hold-transition skin-blue sidebar-mini">
{% if messages %}
    {% for message in messages %}
    <div id="mensaj-personalizado">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div id="icon"></div>
            <span>{{message}}</span>
        </div>


    </div>
    {% endfor %}
  {% else %}
      <div id="mensaj-personalizado">
        <button type="button" class="close close-message" data-dismiss="alert">&times;</button>
        <div class = "info">
            <div id="icon"></div>
            <span></span>
        </div>


      </div>
  {% endif %}
<div class="wrapper">
  
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>X</b>L</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>X</b>liip</span>
    </a>
    
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/static/img/usuario.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ user.get_username }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header" style="height: 120px;">
                <img src="/static/img/usuario.png" style="border:none; width: 60px; height: 60px;" alt="User Image">

                <p style="font-size: 18pt">
                  {{ user.get_full_name }}
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                
                <div class="pull-right">
                  <a href="/cerrar-sesion/" class="btn btn-default btn-flat">Cerrar Sesión</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        {% include 'menu.html' %}
         
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="box box-primary">
        {% block contenido %}

        {% endblock contenido %}
            </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <strong>Version 0.1 Beta</strong>
    </div>
    <!-- Default to the left -->
    Copyright &copy; 2016 <a href="#">Sistemas iCode</a>. All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">{% trans "Seguridad" %}</h3>
        
            <a href="/usuario/listado/1/">
              <i class="fa fa-check"></i>
              {% trans "Usuarios" %}
            </a><br><br>
            <a href="/usuario/rol/registrar/">
              <i class="fa fa-check"></i>
              {% trans "Roles" %}
            </a><br><br>
            <a href="/usuario/cambiar-clave/">
              <i class="fa fa-check"></i>
              {% trans "Cambiar contraseña" %}
            </a><br><br>

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
          <h3 class="control-sidebar-heading">General Settings</h3>

      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!--- modal para los catalogos -->
<div id="from_catalogo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Catálogo "%}</h4>
            </div>            
            <div class="modal-body" style="padding: 0;">
                <div style="margin :10px auto; position: relative; width: 80%">
                  <input type="text" id="busqueda_sensitiva" placeholder="Busqueda sensitiva" class="form-control">
                </div>
                <div class="clear"></div>
                <div  class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" id="listado" style="margin-top: 0">
                        <thead>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <div class="pull-right">
                  <div id="pagina_anterior" class="btn btn-default">
                    <i class="fa fa-arrow-circle-left"></i>
                    {% trans "Anterior" %}
                    
                    
                  </div>
                  <div id="pagina_siguiente" class="btn btn-default">                      
                      {% trans "Siguiente" %}
                      <i class="fa fa-arrow-circle-right"></i>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -->
<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'vendors/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/NProgress/nprogress.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js' %}"></script>
<script src="{% static 'vendors/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'vendors/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
<script src="{% static 'js/school.js' %}"></script>
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<script>
  $(function(){

    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

    $('.sidebar-menu li').removeClass('active');
    elemnt = document.getElementById("{{ request.path | urlencode }}");
      if($(elemnt).attr('parent')){
          parent = $(elemnt).attr('parent');

          /* verificar si este elemento padre tiene a su ves un padre */
          if( $('#'+parent).attr('parent') ){
              parent_two  = $('#'+parent).attr('parent');
              $('#'+parent_two).addClass('active');

              if( $('#'+parent_two).attr('parent') ){
                  parent_three = $('#'+parent_two).attr('parent');
                  $('#'+parent_three).addClass('active');
              }
          }
          $('#'+parent).addClass('active');
          $(elemnt).addClass('active');
      }

  })
</script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
     {% block js %}

     {% endblock js %}
</body>
</html>