{% load i18n %}
{% load i18n %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
<!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.css">

    <link rel="stylesheet" href="/static/css/estilo.css">
    <link rel="stylesheet" href="/static/css/estilo_front.css">
    <link rel="stylesheet" href="/static/vendors/NProgress/nprogress.css">
</head>

<style>
#bg{
    background: url(/static/img/bg.jpg) no-repeat center center; height: 100%; width: 100%;  background-size: 100% 100%;
    -webkit-background-size: cover; z-index: 0; position: fixed; top: 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#form_login{ padding: 6px 20px 20px 20px; margin-top: 20px; border-radius: 4px; opacity: 0.8; background-color: black}
body{z-index: 2; position: relative;}

</style>
<div id="bg"></div>
<header class="navbar-fixed-top">
    <nav class="col-md-10 col-sx-10 center-block navbar" role = "navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><div id="logo"></div></a>
                <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#menu-navbar-collapse">
                    <span class = "sr-only">Toggle navigation</span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
            </div>
            <div class = "navbar-collapse collapse" id = "menu-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Ingresar</a></li>
                    <li><a href="/presentacion/">¿ Qué es Xliip ?</a></li>
                    <li><a href="/planes/">Planes</a></li>
                </ul>
              </div>
        </div>
    </nav>

</header>
<body>
    {% if messages %}
    {% for message in messages %}
        <div id="mensaj-personalizado">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <span>{{message}}</span>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    

    {% block contenido %}

    {% endblock contenido %}



</body>

<script src="/static/vendors/jQuery/jquery-2.2.3.min.js"></script>
<script src='/static/vendors/NProgress/nprogress.js'></script>
<script src="/static/js/school.js"></script>
{% block js %}

{% endblock js %}
<script>
    var show = false;
    $(function(){
         $(function(){
            $('#bg').css({'height':screen.height,'width':screen.width });

           
            $('.navbar-toggle').click(function(){
                if(show == false){
                    $('#menu-navbar-collapse').addClass('in');
                    show = true;
                }else{
                    $('#menu-navbar-collapse').removeClass('in');
                    show = false;
                }
            })
        })
        //NProgress.start();
    })
</script>
</html>