{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}

<div class="x_title">
    <h2>{% trans "Cambiar contraseña de acceso" %}<small></small></h2>
    <div class="clearfix"></div>
</div>
<form method="post" id="form">
    {% csrf_token %}
    <div class="col-md-12">
        <i>{% trans "Su contraseña no puede asemejarse tanto a su otra información personal." %}</i>
    </div>
    <div class="clear"></div>
    <br>
    <p class="col-md-12">
        <label>{% trans "Contraseña actual" %}</label>
        {{form.old_password}}
    </p>
    <p class="col-md-12">
        <label>{% trans "Nueva contraseña" %}</label>
        {{form.new_password1}}
    </p>
    <p class="col-md-12">
        <label>{% trans "Confirme su nueva contraseña" %}</label>
        {{form.new_password2}}
    </p>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
            <a class="btn btn-success" id="submit">{% trans "Actualizar contraseña" %}</a>
            <a href = "/usuario/listado/1/" class="btn btn-default">{% trans "Cancelar" %}</a>
    </div>
</form>
{% endblock contenido %}

{% block js %}
<script>
    $(function(){
        setTransferFocus( $('#form') );
        $('#submit').click(function(){
            if(validarForm($('#form input'))){
                $('#form').submit();
            }else{
                NProgress.done();
            }
        });
    }); 
</script>
{% endblock js %}