{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
    <div class="box-header">
        <h2 class="box-title">{% trans "Parámetro días feriados" %}<small></small></h2>

    </div>  
    <form method="post">
    	{{ form.errors }}
        {% csrf_token %}
        <p class="col-md-2 col-sm-4 col-xs-6">
        	<label>{% trans "Fecha no laboral" %}</label>
        	<!--<input type="text" name="" class="form-control" id="single_cal2" aria-describedby="inputSuccess2Status2">	        -->
        	{{form.fecha}}
        </p>
        <div class="clear"></div>
        <p class="col-md-6 col-sm-12 col-xs-12">
        	<label>{% trans "Descripción" %} </label>
        	
        	{{form.descripcion}}
        </p>
        <div class="clear"></div>
        <div class="ln_solid"></div>
        <div style="text-align:center">
            <button type="submit" class="btn btn-success">{% trans "Registrar" %}</button>
            <a href="/configuracion/dias-feriados/listado/" class="btn btn-primary">{% trans "Listado" %}</a>
            <a href="/configuracion/dias-feriados/" class="btn btn-default">{% trans "Limpiar" %}</a>
        </div>

    </form>

{% endblock contenido %}

{% block js %}
<script>
	/*$('#single_cal2').datepicker({
      language:'es'
    
    });*/
    $('#single_cal2').mask('99/99/9999');
    setTransferFocus($('#form'));
</script>
{% endblock js %}