{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
    <div class="box-header">
      <h3 class="box-title">{% trans "Listado de días feriados" %}</h3>


    </div>

    <div class="section-right">
        <a href="/configuracion/dias-feriados/" class="btn btn-primary">{% trans "Nuevo Feriado" %}</a>
    </div>
    <div  class="box-body table-responsive">
        <table class="table table-hover">
        	<thead>
        		<tr>
        			<th>{% trans "Fecha Feriado" %}</th>
        			<th>{% trans "Descripción" %}</th>
        			<th style="width:200px"></th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for feriado in object_list %}
        		<tr>
        			<td>{{ feriado.fecha }}</td>
        			<td>{{ feriado.descripcion }}</td>        			
        			<td>
        				<a class="btn btn-icon" href="/configuracion/dias-feriados/editar/{{ feriado.id }}/" title="{% trans "Editar" %}">
                            <i class="fa fa-pencil-square-o"></i>
                            Editar            
                        </a>
        				<a class="btn btn-icon delete" parametro = '{{ feriado.id }}' href="/configuracion/dias-feriados/eliminar/{{ feriado.id }}" title="{% trans "Eliminar" %}">
                            <i class="fa fa-eraser"></i>
                            Eliminar </a>
        			</td>
        		</tr>
        		{% endfor %}
        	</tbody>
		</table>
	</div>
    <div class="ln_solid"></div>
	<div class="row">
        <div class="col-sm-5">            
			{% trans "Página" %} {{page_obj.number }} de {{page_obj.paginator.num_pages}} - {% trans "Total de Registros" %} {{page_obj.paginator.count}} 
        </div>
        <div class="col-sm-7">
            <div id="datatable_paginate" class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">                    
                    {% if page_obj.has_previous %}
                    <li class="paginate_button "><a href="?page={{ page_obj.previous_page_number }}" aria-controls="datatable" data-dt-idx="2" tabindex="0">&laquo; {% trans "Anterior" %}</a>
                    </li>

                    
                    {% else %}
                    <li class="paginate_button previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo; {% trans "Anterior" %}</a></li>
                        
                    {% endif %}
                
                    {% if page_obj.has_next %}
                    <li id="datatable_next" class="paginate_button next" >
                        <a href="?page={{ page_obj.next_page_number }}">{% trans "Siguiente" %} &raquo;</a>
                    </li>
                    {% else %}
                    <li class="paginate_button next disabled" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">{% trans "Siguiente" %} &raquo;</a></li>
                        
                    {% endif %}
                    
                </ul>
                
            </div>
        </div>
   
    </div>


{% endblock contenido %}

{% block js %}
<script>
$(function(){

})
</script>
{% endblock js%}