{% extends 'base.html' %}
{% load i18n %}
{% block contenido %}
    <div class="col-md-10 col-xs-10 center-block" id="info-software">
        <h1 class="titulo">{% trans "Bienvenidos" %} </h1>
        <p>{% trans "Ingrese su usuario y contraseña para tener acceso al sistema" %}</p>
    </div>
    <div class="col-md-3 col-xs-10 center-block" id="form_login">
        <div class="col-md-8 col-xs-10">
            <h1 style="color:white;" class="titulo">Ingresar al sistema</h1>
        </div>
        <div class="col-md-4 col-xs-2">
            <img src="/static/img/keys.png" alt="clave" width="40px" style="position: absolute; top:30px; right: 0px;">
        </div>
        <div class="clear"></div>
        <br><br>
        <form id="loginform" method="post" autocomplete="off">
            {% csrf_token %}
            <p>
                <input type="text" name="username" autocomplete="off" required = "required" class="form-control" placeholder="Usuario" />
            </p>   <br>
            <p>
                <input type="password" name="password" autocomplete="off" class="form-control" required = "required" placeholder="Contraseña" />
            </p>     
            <div class="ln_solid"></div>
            <!--<div class="form-actions">
                <span class="pull-left"><a href="#" class="btn btn-info btn-flat" id="to-recover">Olvido su contraseña?</a></span>

            </div>-->
            <a type="submit" class="btn btn-success btn-flat" style="width:100% !important" id="ingresar" /> Ingresar</a>
            <div class="clear"></div>
            <br>
            <a>¿Olvido su contraseña?</a>
        </form>
    </div>

{% endblock contenido %}

{% block js %}
<script>
    $(document).ready(function(){

        var login = $('#loginform');
        var recover = $('#recoverform');
        var speed = 400;

        $('#to-recover').click(function(){
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').click(function(){

            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });

        $('#ingresar').click(function(){
            NProgress.start();
            login.submit()

        })

        $('#to-login').click(function(){

        });

        
    });
</script>
{% endblock js %}