{% load i18n %}
<!-- sidebar menu -->

    <li id="configuracion_general" class="treeview">
        <a href="#"><i class="fa fa-cogs "></i> <span>{% trans "Configuraciones" %}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li parent = "configuracion_general" id="/administrativo/configuracion/empresa/">
                <a href="/administrativo/configuracion/empresa/">
                    <i class="fa fa-check"></i>
                    <span>{% trans "Empresa" %}</span>
                </a>
            </li>
            <li parent = "configuracion_general" id="/configuracion/dias-feriados/listado/">
                <a href="/configuracion/dias-feriados/listado/">
                    <i class="fa fa-check"></i>
                    <span>{% trans "Días feriados" %}</span>
                </a>
            </li>
            
        </ul>
    </li>
    <li id="administrativo" class="treeview">
        <a href="#"><i class="fa fa-institution"></i><span>{% trans "Administrativo" %}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li id="configuracion_administrativo" parent = "administrativo">
                <a href="#"><i class="fa fa-circle-o text-yellow"></i>
                    <span>{% trans "Configuración" %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="/administrativo/conceptos-factura/listado/" parent = "configuracion_administrativo">
                        <a href="/administrativo/conceptos-factura/listado/">
                            <i class="fa fa-check"></i>
                            <span>{% trans "Conceptos facturables" %}</span>
                        </a>
                    </li>
                    <li id="/administrativo/costo-curso/" parent = "configuracion_administrativo">
                        <a href="/administrativo/costo-curso/">
                            <i class="fa fa-check"></i>
                            <span>{% trans "Costos de curso" %}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="/administrativo/cliente/listado/" parent="administrativo">
                <a href="/administrativo/cliente/listado/">
                    <i class="fa fa-check"></i>
                    <span>{% trans "Clientes" %}</span>
                </a>
            </li>
        </ul>
    </li>
    <li id="academico" class="treeview">
        <a href="#"><i class="fa fa-mortar-board"></i> <span>{% trans "Académico" %}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li id="academico_configuracion" parent = "academico">
                <a href="#"><i class="fa fa-circle-o text-yellow"></i>
                    <span>{% trans "Configuración" %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="/curso/configuracion/" parent = "academico_configuracion">
                        <a href="/curso/configuracion/">
                            <i class="fa fa-check"></i>
                            <span>{% trans "Configuración general" %}</span>
                        </a>
                    </li>

                    <li id="/curso/salon/listado/" parent = "academico_configuracion">
                        <a href="/curso/salon/listado/">
                            <i class="fa fa-check"></i>
                            <span>{% trans "Salones" %}</span>
                        </a>
                    </li>
                    <li id="/curso/profesor/listado/" parent = "academico_configuracion">
                        <a href="/curso/profesor/listado/">
                            <i class="fa fa-check"></i>
                            <span>{% trans "Profesores" %}</span>
                        </a>
                    </li>
                    <li id="academico_configuracion_curso" parent = "academico_configuracion" class="treeview">
                        <a href="#"><i class="fa fa-mortar-board"></i> <span>{% trans "Cursos" %}</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li parent = "academico_configuracion_curso" id="/curso/horario/listado/">
                                <a href="/curso/horario/listado/">
                                    <i class="fa fa-check"></i>
                                    <span>{% trans "Horarios" %}</span>
                                </a>
                            </li>
                            <li parent = "academico_configuracion_curso" id="/curso/pensum/listado/">
                                <a href="/curso/pensum/listado/">
                                    <i class="fa fa-check"></i>
                                    {% trans "Pensum" %}
                                </a>
                            </li>
                            <li parent = "academico_configuracion_curso" id="/curso/listado/">
                                <a href="/curso/listado/">
                                    <i class="fa fa-check"></i>
                                    <span>{% trans "Curso" %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="academico_gestion" parent = "academico">
                <a href="#"><i class="fa fa-circle-o text-aqua"></i>
                    <span>{% trans "Gestion de Cursos" %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li parent = "academico_gestion" id="/curso/oferta/registrar/">
                        <a href="/curso/oferta/registrar/">
                            <i class="fa fa-check"></i>
                                {% trans "Ofertar curso" %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="ventas" class="treeview">
        <a href="#"><i class="fa fa-tags"></i> <span>{% trans "Ventas" %}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            <li id="ventas_configuracion" parent = "ventas">
                <a href="#"><i class="fa fa-circle-o text-yellow"></i>
                    <span>{% trans "Configuración" %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li parent = "ventas_configuracion" id = "/ventas/ejecutivo-venta/listado/">
                        <a href="/ventas/ejecutivo-venta/listado/">
                            <i class="fa fa-check"></i>
                            {% trans "Ejecutivos de ventas" %}
                        </a>
                    </li>                    

                </ul>
            </li>
            <li id="venta_gestion" parent = "ventas">
                <a href="#"><i class="fa fa-circle-o text-aqua"></i>
                    <span>{% trans "Gestion de ventas" %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li parent = "venta_gestion" id="/ventas/contrato/">
                        <a href="/ventas/contrato/">
                            <i class="fa fa-check"></i>
                                {% trans "Crear Contrato" %}
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </li>

