{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
    <div class="box-header">
        <h2 class="box-title">{% trans "Asignar rol a usuarios" %}<small></small></h2>

    </div>
    <form method="post" action="" class="form-horizontal form-label-left input_mask" enctype = "multipart/form-data">
        {% csrf_token %}
        <p class="col-md-3 col-sm-4 col-xs-6">
            <label>ID Usuario</label>
            <input type="text" name="id_usuario" class="form-control">
        </p>
        <p class="col-md-9 col-sm-4 col-xs-6">
            <label>Nombre completo</label>
            <input type="text" name="id_usuario" class="form-control">
        </p>
        <p class="col-md-3 col-sm-4 col-xs-6">
            <label>Modelo</label>
            <select class="form-control" id="modelo">
                <option value=""></option>
                <option value="*">-- Todos --</option>
                {% for datos in form2 %}
                <option value="{{datos.id}}">{{datos.model}}</option>
                {%endfor%}
            </select>
        </p>
        <div class="clear"></div>
        <div class="ln_solid"></div>
        <div style="text-align:center">
            <button type="submit" class="btn btn-success">{% trans "Asignar permisos" %}</button>
            <a href="/configuracion/dias-feriados/listado/" class="btn btn-primary">{% trans "Listado usuarios" %}</a>
            <a href="/configuracion/dias-feriados/" class="btn btn-default">{% trans "Limpiar" %}</a>
        </div>
    </form>

{% endblock contenido %}

{%block js %}
    <script type="text/javascript">
        $(function(){
            $('#modelo').change(function(){
                $.ajax({
                    url: '/usuario/rol/registrar/',
                    type: 'post',
                    dataType: 'json',
                    data: {model:$(this).val(), csrfmiddlewaretoken:'{{csrf_token}}'},
                    success: function (data) {
                        console.log(data)
                        NProgress.done();
                        

                    }
                });  
            })
        })
    </script>
{% endblock js %}