{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}

    <div class="box-header">
        <h2 class="box-title">{% trans "Registro de Usuarios" %}<col-xs></col-xs></h2>
    
    </div>
    <form method="post" id="form_usuario">
        {% csrf_token %}

        <p class="col-md-2 col-sm-4 col-xs-12 columns">
            <label>{% trans "Usuario" %}</label>
            {{form.username}}
        </p>
        <p class="col-md-5 col-sm-4 col-xs-12 columns">
            <label>{% trans "Nombre" %}</label>
            {{form.first_name}}
        </p>
        <p class="col-md-5 col-sm-4 col-xs-12 columns">
            <label>{% trans "Apellido" %}</label>
            {{form.last_name}}
        </p>
        <p class="col-md-6 col-sm-6 col-xs-6 columns">
            <label>{% trans "Correo electronico" %}</label>
            {{form.email}}
        </p>
        <p class="col-md-6 col-sm-6 col-xs-6 columns">
            <label>{% trans "Departamento" %}</label>
            {{form.departamento}}
        </p>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" class="form-control" id="filtro" autocomplete="off"
                           style="border:1px solid #d2d6de" placeholder = "{% trans "Filtrar opciones, para otorgar permisos" %}">
                </div>
            </div>
            {{form.user_permissions}}
            <div class="btn btn-group btn-default" id="pasar" style="cursor: pointer">
                {% trans "Pasar Seleccion" %} 
                <i class="fa fa-arrow-circle-right"></i>
            </div>
            <div class="btn btn-group btn-default" id="pasar_todos" style="cursor: pointer">
                {% trans "Pasar todos" %}
                <i class="fa fa-arrow-circle-right"></i>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" class="form-control" id="filtro_permisos" autocomplete="off"
                           style="border:1px solid #d2d6de" placeholder = "{% trans "Filtrar opciones a las que tiene permiso el usuario" %}">
                </div>
            </div>
            <select multiple="multiple" id="permisos_seleccionados" name="permisos_seleccionados" style="height:140px; width:100%">

            </select>
            <div class="btn btn-group btn-default" id="quitar" style="cursor: pointer">
                 <i class="fa  fa-arrow-circle-left"></i>
                 {% trans "Quitar Seleccion"%}

            </div>
            <div class="btn btn-group btn-default" id="quitar_todos" style="cursor: pointer">
                <i class="fa  fa-arrow-circle-left"></i>
                {% trans "Quitar todos"%}
            </div>
        </div>
        <div class="clear"></div><br>

    {% if accion != 'actualizar' %}
    <p class="col-md-6 columns">
        <label>{% trans "Contraseña" %}</label>
        {{form.password1}}
    </p>
    <p class="col-md-6 columns">
        <label>{% trans "Confirmar contraseña" %}</label>
        {{form.password2}}
    </p>
    {% else %}
        {{form.password}}

    {% endif %}
    <p class="col-md-6 col-xs-6 col-sm-6 columns">
        <label>{% trans "Activado" %}</label>
        {{form.is_active}}
    </p>

    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
            {% if accion == 'agregar' %}
            <a class="btn btn-success" id="submit">{% trans "Registrar" %}</a>
            {%else%}
            <a class="btn btn-success" id="submit">{% trans "Actualizar" %}</a>
            {%endif%}
            <a href = "/usuario/listado/1/" class="btn btn-primary">{% trans "Listado de usuarios" %}</a>
            <a href = "/usuario/registro/" class="btn btn-default">{% trans "Limpiar" %}</a>
    </div>


</form>

{% endblock contenido %}

{% block js %}
<script>
    $(function(){
        {% if accion == 'actualizar' %}
            pasarSeleccionados();
        {% endif %}
        $('#id_user_permissions').filterByText($('#filtro'), true);
        $('#permisos_seleccionados').filterByText($('#filtro_permisos'), true);
        $('#pasar').click(function() {
            return pasarSeleccionados();
        });
        $('#quitar').click(function() {

            return !$('#permisos_seleccionados option:selected').appendTo('#id_user_permissions');
        });

        $('#pasar_todos').click(function() {
            $('#filtro').val('');
            $('#id_user_permissions option').each(function() {
                $(this).remove().appendTo('#permisos_seleccionados');
            });
        });

        $('#quitar_todos').click(function() {
            $('#permisos_seleccionados option').each(function() {
                $(this).remove().appendTo('#id_user_permissions');
            });
        });
       
        $('#submit').click(function(){
            NProgress.start();
            $('#permisos_seleccionados option').prop('selected', 'selected');
            if(validarForm($('#form_usuario input'))){
                
                $('#form_usuario').submit();
            }

        })
    })
    function pasarSeleccionados(){
        $('#filtro').val('');
        return !$('#id_user_permissions option:selected').appendTo('#permisos_seleccionados');
    }
</script>
{% endblock js %}