{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Ofertar Cursos" %}<small></small></h2>

</div>
<form method="post" id="form_ofertas" action="" class="form-horizontal form-label-left input_mask" autocomplete="off">
    {% csrf_token %}
    <p class="col-md-3 col-sm-6 col-sx-12">
        <label>{% trans 'Curso' %}</label>
        <input type="text" autofocus = "on" name="curso"  id="id_curso" placeholder="{% trans 'Código de curso' %}" class = "form-control"
        required = "required" value="{{datos.codigo_curso}}">

    </p>
    <p class="col-md-9 col-sm-6 col-sx-12">
        <label>{% trans 'Descripción' %}</label>
        <input type="text" readonly = "readonly" class = "form-control" id="descripcion" value="{{datos.descripcion}}">
    </p>

    <p class="col-md-3 col-sm-6 col-sx-12">
        <label>{{ form.nivel.label }}</label>

        <select id="id_nivel" name="nivel" required = "required" class="form-control">
            <option>---------</option>
            {% if accion != '' %}
               {% for nivel in niveles %}
                    {% if datos.nivel_id == nivel.codigo_nivel %}
                        <option selected = "selected" value = "{{nivel.codigo_nivel}}">{{nivel.codigo_nivel}}  / {{nivel.descripcion}}</option>
                    {% else %}
                        <option value = "{{nivel.codigo_nivel}}">{{nivel.codigo_nivel}}  / {{nivel.descripcion}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </p>
    <p class="col-md-3 col-sm-4 col-sx-12">
        <label>{{ form.pensum.label }}</label>
        <select id="id_pensum" name="pensum" required = "required" class="form-control">
            <option>---------</option>
            {% if accion != '' %}
               {% for pensum in pensum %}
                    {% if datos.pensum_id == pensum.codigo_pensum %}
                        <option selected = "selected" value = "{{pensum.codigo_pensum}}">{{pensum.codigo_pensum}}  / {{pensum.descripcion}}</option>
                    {% else %}
                        <option value = "{{pensum.codigo_nivel}}">{{pensum.codigo_pensum}}  / {{pensum.descripcion}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </p>
    <div class="clear"></div>
    <p class="col-md-3 col-sm-4 col-sx-6">
        <label>{{ form.cupos.label }}</label>

        <input class="form-control" id="id_cupos" name="cupos" readonly="readonly" required="required" type="text" value="{{datos.cupos}}">
    </p>
    <p class="col-md-3 col-sm-4 col-sx-6">
        <label>{{ form.estado.label }}</label>
        {{form.estado}}

    </p>

    <div class="clear"></div>
    <fieldset id="detalle_horario" style="display: none">
        <legend>Detalle del horario</legend>
        <div  class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Día de la semana</th>
                        <th>Hora de inicio</th>
                        <th>Hora de culminación</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </fieldset>
    <div class="clear"></div>

    <div class="ln_solid"></div>
    <div style="text-align:center">
        {% if accion == 'actualizar' %}
        <button type="submit" class="btn btn-success">{% trans "Actualizar"%}</button>
        {% else %}
        <button type="submit" class="btn btn-success">{% trans "Crear Ofertar de Curso"%}</button>
        {% endif %}
        <a href="/curso/oferta/listado/" class="btn btn-primary">{% trans "Listado de ofertas creadas"%}</a>
        <a href="/curso/oferta/registrar/" class="btn btn-default">{% trans "Limpiar"%}</a>
    <div>
</form>
{% endblock contenido %}
{% block js %}
<script>
    $(function(){
        {% if accion != '' %}
            $("#id_estado option[value='{{datos.estado}}']").prop('selected', true);
        {% endif %}
        setTransferFocus($('#form_ofertas'));
        $("#id_curso").mask("C999");
        $('#id_curso').keydown(function(e){
            if(e.keyCode == 13 && $(this).val().trim() != '')
                buscarDatoCurso($(this).val());
            if (e.keyCode == teclaCtrl)
            ctrlPressed = true;
            if (ctrlPressed && (e.keyCode == teclaF1)){
                $('#busqueda_sensitiva').val('');
                catalogoCurso(1, '');
            }
        });

        $('#id_nivel').change(function(){
            if ($(this).val() == ''){
                $('#id_pensum').html('')
                return;
            }
            NProgress.start();
            $.ajax({
                url: '/curso/oferta/registrar/',
                type: 'post',
                dataType: 'json',
                data: {nivel:$(this).val(),accion:'getPensums', csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (response) {
                    NProgress.done();
                    $('#id_pensum').html(response.datos)
                    $('#id_cupos').val(response.cupos);
                    NProgress.done();


                }
            });
        });

        $('#id_horario').change(function(){
            if ($(this).val() == ''){
                $('#id_horario').html('')
                return;
            }
            NProgress.start();
            $.ajax({
                url: '/curso/oferta/registrar/',
                type: 'post',
                dataType: 'json',
                data: {horario:$(this).val(),accion:'getDetalleHorario', csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (response) {
                    NProgress.done();
                    $('.table tbody').html(response.datos);
                    $('#detalle_horario').fadeIn();
                    NProgress.done();
                }
            });
        });
            

    });
    function buscarDatoCurso (){
        NProgress.start();
        $.ajax({
            url: '/curso/datos-curso/',
            type: 'post',
            dataType: 'json',
            data:  {csrfmiddlewaretoken:'{{csrf_token}}', codigo_curso:$('#id_curso').val()},
            success: function (data) {
                NProgress.done();
                if(data.mensaje == ''){
                    $('#descripcion').val(data.nombre_curso);
                    getListadoNiveles();
                }else{
                    mostrarMensaje(data.mensaje);
                }
            }
        });
    }
    function catalogoCurso(pagina, frase){
        NProgress.start();
        $.ajax({
            url: '/curso/catalogo-cursos/',
            type: 'post',
            dataType: 'json',
            data:  {pagina: pagina, frase:frase, csrfmiddlewaretoken:'{{csrf_token}}'},
            success: function (data) {
                NProgress.done();
                if(data.mensaje == ''){
                    footerPaginacionAjax( data.pagina, 'catalogoCurso');
                    $('#from_catalogo table > thead').html('<tr><th>{% trans "Código curso"%}</th><th>{% trans "Descripción del curso"%}</th></tr>');
                    $('#listado tbody').html(data.datos);
                    $('#from_catalogo').modal('show');
                    $('#busqueda_sensitiva').focus()
                }else{
                    mostrarMensaje(data.mensaje);
                }
            }
        });
    }
    function seleccion_curso(codigo, descripcion){
        $('#id_curso').val(codigo);
        $('#descripcion').val(descripcion);
        $('#from_catalogo').modal('hide');
        getListadoNiveles();
    }
    function getListadoNiveles(){
         NProgress.start();
        $.ajax({
            url: '/curso/oferta/registrar/',
            type: 'post',
            dataType: 'json',
            data: {curso: $('#id_curso').val(),accion:'getNiveles', csrfmiddlewaretoken:'{{csrf_token}}'},
            success: function (response) {
                NProgress.done();
                $('#id_nivel').html(response.datos)
                NProgress.done();


            }
        });
    }

</script>
{% endblock js %}