{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
        <h2 class="box-title">{% trans "Listado de Cursos Ofertados" %}<small></small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="section-right">
        <a href="/curso/oferta/registrar/" class="btn btn-primary">{% trans "Crear nueva oferta de curso" %}</a>
    </div>
    <div  class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
        	<thead>
        		<tr>
                    <th>{% trans "Nivel" %}</th>
                    <th>{% trans "Horario" %}</th>
                    <th>{% trans "Salon" %}</th>
                    <th>{% trans "Pensum" %}</th>
                    <th>{% trans "Estado" %}</th>
        			<th style="width:60px"></th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for obj_paginador in object_list %}
        		<tr id="{{ obj_paginador.id }}">
                    <td>{{ obj_paginador.nivel }}</td>
                    <td>{{ obj_paginador.horario }}</td>
                    <td>{{ obj_paginador.salon }}</td>
                    <td>{{ obj_paginador.pensum }}</td>
                    <td>
                        {% if obj_paginador.estado == 'I' %}
                            {% trans "Inscripciones abiertas" %}
                        {% endif %}
                        {% if obj_paginador.estado == 'S' %}
                            {% trans "Curso suspendido" %}
                        {% endif %}
                        {% if obj_paginador.estado == 'F' %}
                            {% trans "Curso finalizado" %}
                        {% endif %}
                        {% if obj_paginador.estado == 'C' %}
                            {% trans "Cupos minimo completao, en espera de asignación de fecha de inicio de clases" %}
                        {% endif %}
                    </td>
        			<td>
        				<a class="btn btn-icon" href="/curso/oferta/editar/{{ obj_paginador.id }}/" title='{% trans "Editar" %}'>
                            <i class="fa fa-pencil-square-o"></i>
                            Editar
                        </a>
        			</td>
        		</tr>
        		{% endfor %}
        	</tbody>
		</table>
	</div>
    <div class="ln_solid"></div>
	<div class="row">
        <div class="col-sm-5">
			{% trans "Página" %} {{page_obj.number }} de {{page_obj.paginator.num_pages}} - {% trans "Total de Registros" %} {{page_obj.paginator.count}}
        </div>
        <div class="col-sm-7">
            <div id="datatable_paginate" class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="paginate_button "><a href="?page={{ page_obj.previous_page_number }}" aria-controls="datatable" data-dt-idx="2" tabindex="0">&laquo; {% trans "Anterior" %}</a>
                    </li>


                    {% else %}
                    <li class="paginate_button previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo; {% trans "Anterior" %}</a></li>

                    {% endif %}

                    {% if page_obj.has_next %}
                    <li id="datatable_next" class="paginate_button next" >
                        <a href="?page={{ page_obj.next_page_number }}">{% trans "Siguiente" %} &raquo;</a>
                    </li>
                    {% else %}
                    <li class="paginate_button next disabled" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">{% trans "Siguiente" %} &raquo;</a></li>

                    {% endif %}

                </ul>

            </div>
        </div>

    </div>
{% endblock contenido %}