{% extends 'base.html' %}
{% load i18n %}
{% block contenido %}
<div class="wrapper">
<div class="pricing-table group">
    <div id="info-software" style="margin-top:0">
        <h1 class="titulo" style="color:white">
            Nuestros planes y tarifas
        </h1>
        <p>{% trans "Todos nuestros planes incluyen soporte 24 / 7 y asesoria en los procesos administrativos" %}</p>
    </div>
    <!-- PERSONAL -->
    <div class="personal col-md-4 col-xs-12">
        <h2 class="title">{% trans "Gratis" %}</h2>
        <!-- CONTENT -->
        <div class="content">
            <p class="price">
                <sup>USD</sup>
                <span>0</span>
                <sub>/mensual.</sub>
            </p>
            <p class="hint">{% trans "Usalo por tiempo indefinido" %}</p>
        </div>
        <!-- /CONTENT -->
        <!-- FEATURES -->
        <ul class="features">
            <li>{% trans "Cantidad de usuarios:" %} 1</li>
            <li>{% trans "Cursos que puede gestionar:" %} 2</li>
            <li>{% trans "Modulo Administrativo:" %} No incluido</li>
            <li>{% trans "Área de alumnos:" %} No incluido</li>
        </ul>
        <!-- /FEATURES -->
        <!-- PT-FOOTER -->
        <div class="pt-footer">
            <button class="btn-success">Contrata ahora</button>
        </div>
        <!-- /PT-FOOTER -->
    </div>
    <!-- PERSONAL -->
    <div class="personal col-md-4 col-xs-12">
        <h2 class="title">Pyme</h2>
        <!-- CONTENT -->
        <div class="content">
            <p class="price">
                <sup>$</sup>
                <span>99</span>
                <sub>/mo.</sub>
            </p>
            <p class="hint">Suitable for startups</p>
        </div>
        <!-- /CONTENT -->
        <!-- FEATURES -->
        <ul class="features">
            <li><span class="fontawesome-cog"></span>10 WordPress Install</li>
            <li><span class="fontawesome-star"></span>100,000 visits/mo.</li>
            <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
            <li><span class="fontawesome-cloud"></span>20GB Local Storage</li>
        </ul>
        <!-- /FEATURES -->
        <!-- PT-FOOTER -->
        <div class="pt-footer">
            <p>Host My Website</p>
        </div>
        <!-- /PT-FOOTER -->
    </div>
    <!-- /PROFESSIONAL -->
    <!-- BUSINESS -->
    <div class="business col-md-4 col-xs-12">
        <h2 class="title">Business</h2>
        <!-- CONTENT -->
        <div class="content">
            <p class="price">
                <sup>$</sup>
                <span>249</span>
                <sub>/mo.</sub>
            </p>
            <p class="hint">For established business</p>
        </div>
        <!-- /CONTENT -->

        <!-- FEATURES -->
        <ul class="features">
            <li><span class="fontawesome-cog"></span>25 WordPress Install</li>
            <li><span class="fontawesome-star"></span>400,000 visits/mo.</li>
            <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
            <li><span class="fontawesome-cloud"></span>30GB Local Storage</li>
        </ul>
        <!-- /FEATURES -->

        <!-- PT-FOOTER -->
        <div class="pt-footer">
            <p>Host My Website</p>
        </div>
        <!-- /PT-FOOTER -->
    </div>
    <!-- /BUSINESS -->
</div>
</div>
{% endblock %}
