{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Registro de Ejecutivos de Venta" %}<small></small></h2>

</div>
<form method="post" action="" class="form-horizontal form-label-left input_mask">
    {% csrf_token %}
    <p class="col-md-2 col-sm-4 col-sx-6">
        <label>{% trans "Usuario" %}</label>
        {{form.usuario}}

    </p>
    <div class="clear"></div><br>

   
    <p class="col-md-3 col-sm-6 col-xs-6">
        <label>{{form.movil.label}}</label>
        {{form.movil}}
    </p>
    <p class="col-md-3 col-sm-6 col-xs-12">
        <label>{{form.correo.label}}</label>
        {{form.correo}}
    </p>
    <p class="col-md-3 col-sm-4 col-xs-6">
        <label>{{form.fecha_nacimiento.label}}</label>
        {{form.fecha_nacimiento}}
    </p>
    <p class="col-md-3 col-sm-4 col-xs-6">
        <label>{{form.estado.label}}</label>
        {{form.estado}}
    </p>
    <div class="clear"></div>
    <p class="col-md-12 col-sm-12 col-sx-12">
        <label>{{form.direccion_habitacion.label}}</label>
        {{form.direccion_habitacion}}
    </p>
    <div class="clear"></div>
    <div class="ln_solid"></div>
        <div style="text-align:center">
            {% if accion == 'actualizar' %}
            <button type="submit" class="btn btn-success">{% trans "Actualizar"%}</button>
            {% else %}
            <button type="submit" class="btn btn-success">{% trans "Registrar"%}</button>
            {% endif %}
            <a href="/ventas/ejecutivo-venta/listado/" class="btn btn-primary">{% trans "Listado"%}</a>
            <a href="/curso/registrar/" class="btn btn-default">{% trans "Limpiar"%}</a>
        <div>
</form>
{% endblock contenido %}

{% block js %}
<script>
	$('#single_cal2').datepicker({
      language:'es'

    });
    $('#id_movil').mask('999-9999999');
</script>
{% endblock js %}
