{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}

<div class="box-header">
    <h2 class="box-title">{% trans "Configuración de parametros del modulo Académico" %}<small></small></h2>

</div>
<br>
<form method="post" action="" >
    {% csrf_token %}
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <p class="col-md-6 col-sm-6 col-xs-12">
                {{form.oferta_salon_culminar_clases.label}}
            </p>
            <p class="col-md-6 col-sm-6 col-xs-12">
                {{form.oferta_salon_culminar_clases}}
            </p>

        </div>
         <div class="row">
            <p class="col-md-6 col-sm-6 col-xs-12">
                {{form.extiende_inscripcion.label}}
            </p>
             <p class="col-md-6 col-sm-6 col-xs-12">
                {{form.extiende_inscripcion}}
             </p>
         </div>
        <input type="hidden" name="configuracio_aplicada" value="True">
    </div>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">

        <button type="submit" class="btn btn-success">{% trans "Registrar configuración"%}</button>
    <div>
</form>



{% endblock contenido %}

{% block js %}
<script>
  $(function(){
    $("#id_codigo_curso").mask("C999");
  })
</script>
{% endblock js %}
