{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Cursos" %}<small></small></h2>

</div>
<form method="post" action="" class="form-horizontal form-label-left input_mask">
    {{ form.errors }}
    {% csrf_token %}
    <p class="col-md-2 col-sm-4 col-sx-12">
        <label>{{ form.codigo_curso.label }}</label>
        {% if accion == 'actualizar' %}
        <input type="text" maxlength="4" name="codigo_curso" value="{{ form.codigo_curso.value }}" class="form-control" readonly = "readonly" id="id_codigo_curso">
        {% else %}
        <input type="text" maxlength="4"  autofocus = "on" name="codigo_curso"
        class="form-control" id="id_codigo_curso" required = "required">
        {% endif %}

    </p>
    <p class="col-md-10 col-sm-8 col-sx-12">
        <label>{{ form.descripcion.label }}</label>
        {{ form.descripcion }}
    </p>
    <p class="col-md-2 col-sm-4 col-sx-4">
        <label>{{ form.estado.label }}</label>
        {{ form.estado }}
    </p>
    <div class="clear"></div>

    <div class="ln_solid"></div>
        <div style="text-align:center">
            {% if accion == 'actualizar' %}
            <button type="submit" class="btn btn-success">{% trans "Actualizar"%}</button>
            {% else %}
            <button type="submit" class="btn btn-success">{% trans "Registrar"%}</button>
            {% endif %}
            <a href="/curso/listado/" class="btn btn-primary">{% trans "Listado"%}</a>
            <a href="/curso/registrar/" class="btn btn-default">{% trans "Limpiar"%}</a>
        <div>
</form>
{% endblock contenido %}

{% block js %}
<script>
  $(function(){
    $("#id_codigo_curso").mask("C999");
  })
</script>
{% endblock js %}
