{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Registro de Horarios" %}<small></small></h2>
    <div class="clearfix"></div>
</div>
<form method="post">
    {{ form.errors }}
    {% csrf_token %}
    <p class="col-md-2 col-sm-8 col-sx-4">
        <label>{{ form.codigo_horario.label }}</label>
        {% if accion == 'actualizar' %}
        <input type="text" name="codigo_horario" readonly="readonly" required="required"
               value="{{ form.codigo_horario.value }}" class="form-control">
        {% else %}
        <input type="text" name="codigo_horario" id = "codigo_horario" maxlength="4" autofocus = "on" required="required" class="form-control">
        {% endif %}
    </p>
    <p class="col-md-10 col-sm-4 col-sx-8">
        <label>{{ form.descripcion.label }}</label>
        {{ form.descripcion }}
    </p>
    <p class="col-md-2 col-sm-4 col-sx-8">
        <label>{{ form.estado.label }}</label>
        {{ form.estado }}
    </p>
    <div class="clear"></div>
    <fieldset>
        <legend>Agregar detalle del horario</legend>
        <a href="#" class="btn btn-primary" id="abrir_modal" style="float:right; margin-right:10px;">
            {% trans "Agregar día de clase"%}
        </a>
        <div class="clear"></div>
        <div  class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Día de la semana</th>
                        <th>Hora de inicio</th>
                        <th>Hora de culminación</th>
                        <th style="width:120px"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj_paginador in object_list %}
                    <tr id="{{ obj_paginador.id }}">
                        <td>{{ obj_paginador.dia_semana }}</td>
                        <td>{{ obj_paginador.hora_inicio }}</td>
                        <td>{{ obj_paginador.hora_culminacion }}</td>

                        <td>
                            <a class="btn btn-icon delete" href="/curso/horario/{{ obj_paginador.codigo_horario_id }}/eliminar/detalle/{{ obj_paginador.id }}/" title='{% trans "Eliminar" %}'>
                                <i class="fa fa-eraser"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </fieldset>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
        {% if accion == 'actualizar' %}
        <button class="btn btn-success" id="add-nivel">{% trans "Actualizar"%}</button>
        {% else %}
        <button class="btn btn-success" id="add-nivel">{% trans "Registrar"%}</button>
        {% endif %}
        <a href="/curso/horario/listado/" class="btn btn-primary">{% trans "Listado de horarios"%}</a>
    </div>
</form>
<div id="from_dias" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Agregar día de clase al horario"%}</h4>
            </div>
            <div class="modal-body" style="padding: 0;">
                <p class="col-md-12 col-sm-12 col-sx-12" style="margin-top: 10px;">
                    <label>{% trans "Día" %}</label>
                    <!--<select id="dia" class="form-control">
                        <option value="Lunes">{% trans "Lunes" %}</option>
                        <option value="Martes">{% trans "Martes" %}</option>
                        <option value="Miercoles">{% trans "Miercoles" %}</option>
                        <option value="Jueves">{% trans "Jueves" %}</option>
                        <option value="Viernes">{% trans "Viernes" %}</option>
                        <option value="Sabado">{% trans "Sabado" %}</option>
                        <option value="Domingo">{% trans "Domingo" %}</option>
                    </select>-->
                    <ul class="lista_horizontal">
                        <li>
                            <input type="checkbox" name="dias[]" value="Lunes"> {% trans "Lunes" %}
                        </li>
                        <li>
                            <input type="checkbox" name="dias[]" value="Martes"> {% trans "Martes" %}
                        </li>
                        <li>
                            <input type="checkbox" name="dias[]" value="Martes"> {% trans "Miercoles" %}
                        </li>
                        <li>
                            <input type="checkbox" name="dias[]" value="Jueves"> {% trans "Jueves" %}
                        </li>
                        <li>
                            <input type="checkbox" name="dias[]" value="Viernes"> {% trans "Viernes" %}
                        </li>
                        <li>
                            <input type="checkbox" name="dias[]" value="Sabado"> {% trans "Sabado" %}
                        </li>
                        <li>
                            <input type="checkbox" name="dias[]" value="Domingo"> {% trans "Domingo" %}
                        </li>
                    </ul>
                    <div class="ln_solid"></div>
                </p>
                <p class="col-md-6 col-sm-6 col-sx-6">
                    <label>{% trans "Hora de Inicio" %}</label>
                    <div class="input-group">
                        <input type="text" id="hora_inicio" class="form-control timepicker">
                        <div class="input-group-addon">
                          <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </p>
                <p class="col-md-6 col-sm-6 col-sx-6">
                    <label>{% trans "Hora de Culminación" %}</label>
                    <div class="input-group">
                        <input type="text" id="hora_culminacion" class="form-control timepicker">
                        <div class="input-group-addon">
                          <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </p>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cerrar" %}</button>
                <button type="button" class="btn btn-primary" id="agregar_dia">{% trans "Agregar" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block js %}

    <script>
        $(function(){
            var indx = {{total_registro}}
            $(".timepicker").mask("99:99");
            $("#codigo_horario").mask("H999");
            $('#abrir_modal').click(function(){
                $('#dia').val('Lunes');
                $('#hora_inicio').val('');
                $('#hora_culminacion').val('');
                $('#from_dias').modal('show');
            });
            $('#agregar_dia').click(function(){
                if( $('#hora_inicio').val().trim() == '' || $('#hora_culminacion').val().trim() == '' ){
                    mostrarMensaje(' {% trans 'Debe ingresar la hora de inicio y de culminacion por favor' %}  ');
                    return;
                }
                indx = indx + 1;
                $('input[name="dias[]"]:checked').each(function() {
                    var dia = $(this).val()
                    xTabla = '<tr id = "'+indx+'"> '+
                            '<td>'+$('#dia').val()+'<input type = "hidden" name="dia[]" value = "'+$(this).val()+'"></td>'+
                            '<td>'+$('#hora_inicio').val()+'<input type = "hidden" name="inicio[]" value = "'+$('#hora_inicio').val()+'"></td>'+
                            '<td>'+$('#hora_culminacion').val()+'<input type = "hidden" name="fin[]" value = "'+$('#hora_culminacion').val()+'"></td>'+
                            '<td><a class="btn btn-default btn-icon" onclick=quitar_item('+indx+')><i class="fa fa-eraser"></i>Eliminar</a></td>'+
                         '<tr> ';

                    $('.table > tbody').append(xTabla);
                });

            })
        });
        function quitar_item(itm){
            $('#'+itm).remove()
        }
    </script>
{% endblock js %}
