{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Asignar niveles al curso" %}<small></small></h2>

</div>
    <p class="col-md-2 col-sm-4 col-sx-12">
        <label>Código de curso</label>
        <input type="text" readonly = "readonly" name="codigo_curso" class="form-control"
        value="{{ data_curso.codigo_curso }}">

    </p>
    <p class="col-md-10 col-sm-8 col-sx-12">
        <label>Nombre del curso</label>
        <input type="text" readonly = "readonly" name="descripcion" class="form-control" value="{{ data_curso.descripcion }}">
    </p>
    <div class="clear"></div>
    <fieldset>
        <legend>{% trans "Listado de nivel" %}</legend>
        <div  class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Código de nivel" %}</th>
                        <th>{% trans "Descripción" %}</th>
                        <th>{% trans "Duración" %}</th>
                        <th>{% trans "Mínimo para aperturar" %}</th>
                        <th style="width:200px"></th>
                    </tr>
                </thead>
                <tbody>
        		    {% for nivel in listado_nivel %}
                    <tr>
                        <td>{{nivel.codigo_nivel}}</td>
                        <td>{{nivel.descripcion}}</td>
                        <td>{{nivel.meses_duracion}}</td>
                        <td>{{nivel.min_persona}}</td>
                        <td>
                            <a class="btn btn-icon" href="/curso/niveles/{{ data_curso.id }}/editar/{{ nivel.id }}/" title='{% trans "Editar" %}'>
                                <i class="fa fa-pencil-square-o"></i>
                                Editar
                            </a>
                            <a class="btn delete btn-icon" parametro = '{{ obj_paginador.id }}' href="/curso/niveles/{{ data_curso.id }}/eliminar/{{ nivel.id }}/" title='{% trans "Eliminar Niveles" %}'>
                                <i class="fa fa-eraser"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>

    <div class="ln_solid"></div>
    <div style="text-align:center">
        <a class="btn btn-success" id="add-nivel">{% trans "Agregar Nivel"%}</a>
        <a href="/curso/listado/" class="btn btn-primary">{% trans "Listado de cursos"%}</a>
    </div>

<div id="from_niveles" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Agregar Nivel"%}</h4>
            </div>
            <div class="modal-body" style="padding: 0;">
                <form method="post" id="frm">
                    {% csrf_token %}
                    <input type="hidden" name="codigo_curso" value="{{ data_curso.codigo_curso }}">
                    <p class="col-md-4 col-sm-12 col-sx-12" style="margin-top:10px;">
                        <label>{{form_nivel.codigo_nivel.label}}</label>
                        {% if accion == 'editar_nivel' %}
                        <input type="text" class="form-control" autofocus = "on" name="codigo_nivel" id="id_codigo_nivel"
                               required = "required" value="{{data_nivel.codigo_nivel}}" readonly = "readonly">
                        {% else %}
                        <input type="text" class="form-control" maxlength="7"  id="id_codigo_nivel"
                         autofocus = "on" name="codigo_nivel" id="id_codigo_nivel" required = "required">
                        {% endif %}


                    </p>
                    <p class="col-md-8 col-sm-12 col-sx-12" style="margin-top:10px;">
                        <label>{{form_nivel.descripcion.label}}</label>
                        <input type="text" class="form-control" autofocus = "on" name="descripcion" id="id_descripcion"
                               required = "required" value="{{data_nivel.descripcion}}">

                    </p>
                    <p class="col-md-4 col-sm-6 col-sx-6">
                        <label>{{form_nivel.meses_duracion.label}}</label>
                        <input type="number" class="form-control" autofocus = "on" name="meses_duracion" id="id_meses_duracion"
                               required = "required" value="{{data_nivel.meses_duracion}}">

                    </p>
                    <p class="col-md-4 col-sm-6 col-sx-6">
                        <label>{{form_nivel.min_persona.label}}</label>
                        <input type="number" class="form-control" autofocus = "on" name="min_persona" id="id_min_persona"
                               required = "required" value="{{data_nivel.min_persona}}">
                    </p>
                    <p class="col-md-12 col-sm-12 col-sx-12">
                        <label>{{form_nivel.pensum.label}}</label>
                        {{form_nivel.pensum}}

                    </p>
                    <div class="clear"></div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="enviar_frm">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}


{% block js %}
<script>
    $(function(){
        $("#id_codigo_nivel").mask("C999-99");
        {% if accion == 'editar_nivel' %}
        $('#from_niveles').modal('show');
        {% endif %}
        $('#enviar_frm').click(function(){
            $('#frm').submit();
        })
        $('#add-nivel').click(function(){
            $('#from_niveles').modal('show');
            NProgress.done();
        })
    })
</script>
{% endblock js %}
