{% extends 'base_dashboard.html' %}
{% load staticfiles %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Registro de Pensum académico" %}<small></small></h2>
    <div class="clearfix"></div>
</div>

<form method="post">
    {{ form.errors }}
    {% csrf_token %}
    <p class="col-md-2 col-sm-8 col-sx-4">
        <label>{{ form.codigo_pensum.label }}</label>
        {% if accion == 'actualizar' %}
        <input type="text" name="codigo_pensum" readonly="readonly" required="required"
               value="{{ form.codigo_pensum.value }}" class="form-control">
        {% else %}
        <input type="text" name="codigo_pensum" id = "codigo_pensum" maxlength="4" autofocus="on" required="required" class="form-control">
        {% endif %}
    </p>
    <p class="col-md-10 col-sm-4 col-sx-8">
        <label>{{ form.descripcion.label }}</label>
        {{ form.descripcion }}
    </p>
    <p class="col-md-2 col-sm-4 col-sx-8">
        <label>{{ form.hora_semanal.label }}</label>
        {{ form.hora_semanal }}
    </p>
    <p class="col-md-2 col-sm-4 col-sx-8">
        <label>{{ form.estado.label }}</label>
        {{ form.estado }}
    </p>
    <div class="clear"></div><br>
    <p class="col-md-6 col-sm-6 col-sx-10">
        <label>{% trans 'Importar carga academica desde un archivo CSV' %}</label>
        <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />
    </p>
    <div class="clear"></div>
    <fieldset>
        <legend>Detalle del pensum</legend>
        <a class="btn btn-primary" id="abrir_modal" style="float:right; margin-right:10px;">
            {% trans "Agregar carga académica"%}
        </a>
        <a class="btn delete" id="eliminar_carga" style="float:right; margin-right:10px;">
            {% trans "Eliminar TODA carga académica"%}
        </a>
        <div class="clear"></div>
        <div  class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Unidad</th>
                        <th>Número de Clase</th>
                        <th>Actividad</th>
                        <th style="width:120px"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj_paginador in object_list %}
                    <tr id="{{ obj_paginador.id }}">
                        <td>{{ obj_paginador.numero_unidad }}</td>
                        <td>{{ obj_paginador.numero_clase }}</td>
                        <td>{{ obj_paginador.actividad }}</td>

                        <td>
                            <a class="btn btn-icon delete" href="/curso/pensum/{{ obj_paginador.codigo_pensum_id }}/eliminar/detalle/{{ obj_paginador.id }}/" title='{% trans "Eliminar" %}'>
                                <i class="fa fa-eraser"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </fieldset>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
        {% if accion == 'actualizar' %}
        <button class="btn btn-success" id="add-nivel">{% trans "Actualizar"%}</button>
        {% else %}
        <button class="btn btn-success" id="add-nivel">{% trans "Registrar"%}</button>
        {% endif %}
        <a href="/curso/pensum/listado/" class="btn btn-primary">{% trans "Listado de pensum"%}</a>
    </div>
</form>
<div id="from_pensum" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Agregar carga académica"%}</h4>
            </div>
            <div class="modal-body" style="padding: 0;">
                <p class="col-md-6 col-sm-6 col-sx-12" style="margin-top:10px">
                    <label>{% trans "Unidad" %}</label>
                    <input type="number" id="unidad" class="form-control">

                </p>
                <p class="col-md-6 col-sm-6 col-sx-12" style="margin-top:10px">
                    <label>{% trans "Número de clase de la unidad" %}</label>
                    <input type="number" id="nro_clase" class="form-control">

                </p>
                <p class="col-md-12 col-sm-12 col-sx-12">
                    <label>{% trans "Actividad" %}</label>
                    <input type="text" id="actividad_detalle" class="form-control">

                </p>

                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cerrar" %}</button>
                <button type="button" class="btn btn-primary" id="agregar_carga">{% trans "Agregar" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block js %}
<script src="{% static 'js/csv.js' %} "></script>
    <script>
        $(function(){
            var indx = {{total_registro}};
            $('#codigo_pensum').mask("P999");
            $('#abrir_modal').click(function(){
                $('#unidad').val('');
                $('#nro_clase').val('');
                $('#actividad_detalle').val('');
                $('#from_pensum').modal('show');
            });
            $('#agregar_carga').click(function(){
                indx = indx + 1
                xTabla = '<tr id = "'+indx+'"> '+
                            '<td>'+$('#unidad').val()+'<input type = "hidden" name="unidad[]" value = "'+$('#unidad').val()+'"></td>'+
                            '<td>'+$('#nro_clase').val()+'<input type = "hidden" name="nro_clase[]" value = "'+$('#nro_clase').val()+'"></td>'+
                            '<td>'+$('#actividad_detalle').val()+'<input type = "hidden" name="actividad_detalle[]" value = "'+$('#actividad_detalle').val()+'"></td>'+
                            '<td><a class="btn btn-default btn-icon" onclick=quitar_item('+indx+')><i class="fa fa-eraser"></i>Eliminar</a></td>'+
                         '<tr> ';

                $('.table > tbody').append(xTabla);

            });
            $('#eliminar_carga').click(function(){
                window.location = "/curso/pensum/eliminar/detalle/{{ pk }}/";
            });
            // The event listener for the file upload
    document.getElementById('txtFileUpload').addEventListener('change', upload, false);

    // Method that checks that the browser supports the HTML5 File API
    function browserSupportFileUpload() {
        var isCompatible = false;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
        isCompatible = true;
        }
        return isCompatible;
    }

    // Method that reads and processes the selected file
    function upload(evt) {
    if (!browserSupportFileUpload()) {
        alert('The File APIs are not fully supported in this browser!');
        } else {
            var data = null;
            var file = evt.target.files[0];
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function(event) {
                var csvData = event.target.result;
                data = $.csv.toArrays(csvData);
                if (data && data.length > 0) {
                    indx = 0;
                    for(x=0; x < data.length; x++){
                        console.log(String(data[x]))
                        datos = String(data[x]).split(';')
                        indx = indx + 1
                        xTabla = '<tr id = "'+indx+'"> '+
                            '<td>'+datos[0]+'<input type = "hidden" name="unidad[]" value = "'+datos[0]+'"></td>'+
                            '<td>'+datos[1]+'<input type = "hidden" name="nro_clase[]" value = "'+datos[1]+'"></td>'+
                            '<td>'+datos[2]+'<input type = "hidden" name="actividad_detalle[]" value = "'+datos[2]+'"></td>'+
                            '<td><a class="btn btn-default btn-icon" onclick=quitar_item('+indx+')><i class="fa fa-eraser"></i>Eliminar</a></td>'+
                         '<tr> ';
                        $('.table > tbody').append(xTabla);
                    }

                } else {
                    mostrarMensaje('No hay datos para importar');
                }
            };
            reader.onerror = function() {
                alert('Unable to read ' + file.fileName);
            };
        }
    }
        });
        function quitar_item(itm){
            $('#'+itm).remove()
        }

    </script>
{% endblock js %}
