{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "¿Desea Eliminar al Profesor: " %}<strong>{{ object.nombre_profesor }} {{ object.apellido_profesor }}</strong>?<small></small></h2>

</div>
<form method="post" action="" class="form-horizontal form-label-left">
    {% csrf_token%}
    <div class="ln_solid"></div>
    <div style="text-align:center">
        <button type="submit" class="btn btn-danger">{% trans "Sí, Eliminar" %}</button>
        <a href="{% url 'curso:profesor_listado' %}" class="btn btn-primary">{% trans "Cancelar" %}</a>

    </div>
</form>

{% endblock contenido %}