{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Registro de Profesor" %}<small></small></h2>

</div>
<form method="post" id="form" action="" class="form-horizontal form-label-left input_mask">    
    {% csrf_token %}
    <p class="col-md-2 col-sm-4 col-sx-6">
        <label>{{ form.cedula_profesor.label }}</label>
        {% if accion == 'actualizar' %}
        <input type="text" maxlength="10" name="cedula_profesor" value="{{ form.cedula_profesor.value }}"
               class="form-control" readonly = "readonly" id="id_cedula_profesor" >
        {% else %}
        <input type="text" maxlength="10" name="cedula_profesor" class="form-control" id="id_cedula_profesor"
               required = "required" autofocus = "on" onKeyPress="return validarNumero(event)">
        {% endif %}

    </p>
    <div class="clear"></div>
    <p class="col-md-6 col-sm-6 col-xs-12">
        <label>{{form.nombre_profesor.label}}</label>
        {{form.nombre_profesor}}
    </p>
    <p class="col-md-6 col-sm-6 col-xs-12">
        <label>{{form.apellido_profesor.label}}</label>
        {{form.apellido_profesor}}
    </p>
    <p class="col-md-4 col-sm-6 col-xs-6">
        <label>{{form.telefono.label}}</label>
        {{form.telefono}}
    </p>
    <p class="col-md-4 col-sm-6 col-xs-6">
        <label>{{form.movil.label}}</label>
        {{form.movil}}
    </p>
    <p class="col-md-4 col-sm-6 col-xs-12">
        <label>{{form.correo.label}}</label>
        {{form.correo}}
    </p>
    <div class="clear"></div>
    <p class="col-md-3 col-sm-4 col-xs-6">
        <label>{{form.fecha_nacimiento.label}}</label>
        {{form.fecha_nacimiento}}
    </p>
    <p class="col-md-4 col-sm-4 col-xs-6">
        <label>{{form.estado.label}}</label>
        {{form.estado}}
    </p>
    <div class="clear"></div>
    <p class="col-md-12 col-sm-12 col-sx-12">
        <label>{{form.direccion_habitacion.label}}</label>
        {{form.direccion_habitacion}}
    </p>
    <div class="clear"></div>
    <div class="ln_solid"></div>
        <div style="text-align:center">
            {% if accion == 'actualizar' %}
            <button type="submit" class="btn btn-success">{% trans "Actualizar"%}</button>
            {% else %}
            <button type="submit" class="btn btn-success">{% trans "Registrar"%}</button>
            {% endif %}
            <a href="/curso/profesor/listado/" class="btn btn-primary">{% trans "Listado"%}</a>
            <a href="/curso/registrar/" class="btn btn-default">{% trans "Limpiar"%}</a>
        <div>
</form>
{% endblock contenido %}

{% block js %}
<script>
    $('#single_cal2').mask('99/99/9999');
	$('#id_telefono, #id_movil, #id_telefono_opcional').mask('999-9999999');
    setTransferFocus($('#form'));
</script>
{% endblock js %}