{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Salones de clases" %}<small></small></h2>
</div>
<form method="post" action="" class="form-horizontal form-label-left input_mask">
    {{ form.errors }}
    {% csrf_token %}
    <p class="col-md-2 col-sm-12 col-xs-12">
        <label>{% trans "Código del salon" %} </label>
        {% if accion == 'actualizar' %}
        <input type="text" name="codigo_salon" maxlength="4" class="form-control" readonly = "readonly" value="{{form.codigo_salon.value}}">
        {% else %}
        <input type="text" name="codigo_salon" id = "id_codigo_salon" autofocus = "on" maxlength="4" class="form-control" required = "required">
        {% endif %}

    </p>
    <p class="col-md-10 col-sm-12 col-xs-12">
        <label>{% trans "Nombre del salon" %} </label>
        {{form.nombre_salon}}
    </p>
    <p class="col-md-4 col-sm-12 col-xs-12">
        <label>{% trans "Capacidad de alumno" %} </label>
        {{form.capacidad}}
    </p>
    <p class="col-md-4 col-sm-12 col-xs-12">
        <label>{% trans "Estado" %} </label>
        {{form.estado}}
    </p>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
        {% if accion == 'actualizar' %}
        <button type="submit" class="btn btn-success">{% trans "Actualizar" %}</button>
        {% else %}
        <button type="submit" class="btn btn-success">{% trans "Registrar" %}</button>
        {% endif %}
        <a href="/curso/salon/listado/" class="btn btn-primary">{% trans "Listado" %}</a>
        <a href="/curso/salon/registrar/" class="btn btn-default">{% trans "Limpiar" %}</a>
    </div>
</form>

{% endblock contenido %}
{% block js %}
<script>
  $(function(){
    $("#id_codigo_salon").mask("S999");
  })
</script>
{% endblock js %}
