 @font-face{font-family: TextoTiulo;src: url('../fonts/timeburnerbold.ttf');}
 @font-face{font-family: Texto;src: url('../fonts/HelveticaNeueLTStd-Lt.otf');}

 header nav li a{color:white; font-size:11pt;}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
 .fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    border: 1px solid red;*/
}
.input-group-addon {padding: 8px 12px !important; }
.lista_horizontal > li{margin-right: 10px; display: inline-block}
.lista_horizontal > li:last-child{margin-right: 0;}
/*Shared properties*/
.title{font-size:16pt;}
.title,.pt-footer{
    color: #FEFEFE; font-family:Texto !important;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.pt-footer > p{margin:0}
.content{
    position: relative; min-height: inherit;

    /*color: #FEFEFE;*/
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none; margin-bottom: 0;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0; font-size: 12pt;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem;
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
/*PERSONAL*/
.personal .title{
    background: #78CFBF; margin-bottom: 0;
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
.personal .content:after{
	border-top-color: #82DACA;
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0; margin-bottom: 0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content:after{
	border-top-color: #53CFE9;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C; margin-bottom: 0;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{
	border-top-color: #EB6379;
}
.business .pt-footer:after {
	border-top-color: #FFFFFF;
}
#logo{background: url(../img/xliip.png) no-repeat center center;
    height: 32px;
    width: 140px;
    top: 6px;
    background-size: 100% 100%; position: absolute;}

.navbar-nav>li>a {text-shadow: inherit !important; transition: all 0.2s ease-in-out 0s;}
.navbar-nav>li>a:focus,.navbar-nav>li>a:hover{color:#0856CC !important; background: black !important; border-bottom: 1px solid #0856CC;  font-size: 14pt; }
.navbar-toggle>.icon-bar {background: white !important;}
.navbar-collapse{z-index:9}
 header{position: relative; font-family: Texto !important; background:black;}
 .btn{transition:  all 400ms}
 header .navbar{margin-bottom: 0; }
 .titulo{font-family: TextoTiulo !important; font-size: 24pt;}
#info-software{text-align: center; color: white; margin-top: 80px;}
#info-software p{font-family: Texto;     font-size: 12pt;}
.inputfile {width: 0.1px;height: 0.1px;opacity: 0;position: absolute;z-index: -1;  }
.seleccionar_foto_perfil { bottom: 4px; position: absolute; font-family: FontBol; cursor: pointer; left: 32px;}
.seleccionar_foto_perfil>img{position: relative; margin-left: 8px; border-radius: 100px;}
.seleccionar_foto_perfil>p{margin-top: 0px; margin-left: 16px; cursor: #1ABC9C; cursor: pointer}
.inputfile:focus + label {
  outline:0px;
}
.btn{border-radius:2px !important;}
.center-block {
  display: block; float: inherit;
  margin-left: auto;
  margin-right: auto;
}
#foto_actual{border-radius: 100px; height: 100px; width: 100px;}
.main-header{position: fixed; width: 100%;}
.content-wrapper{min-height: 100%; padding-top: 50px;}
.clear{clear:both}
.box{    padding: 4px 10px 14px;}
.box-title{font-size:20pt !important;margin-bottom:10px !important;  font-family: TextoTiulo !important;}
.box-title:after{content: " "; border-bottom: 2px solid #00a65a; display: block; height: 5px; width: 98%;}
.ln_solid{margin-top: 20px; border-top: 1px solid #ccc; padding-top: 20px;}
.btn-icon{border-radius: 4px; border:1px solid #ccc; padding-left: 30px; position: relative;}
.btn-icon>.fa{position: absolute; left: 8px; top: 10px;}
.delete{background: red; color: white}
fieldset{margin-top: 20px; border-radius: 4px; border:1px solid #ccc;}
legend{background: white; margin-left: 8px; font-size: 14pt; border:none; width: auto !important; margin-top: 20px; padding: 0 6px}
#mensaj-personalizado{position: fixed; z-index: 2088;  top:-7px; height: auto; width: auto; min-width: 200px;
 left: 20%; padding: 10px 20px; display: none;}
#mensaj-personalizado>.close{margin-right: 10px; margin-top: 6px;}
.info, .warning{background: #0856CC; box-shadow: 1px -1px 4px #ccc; color: white; font-family: FontBolNormal; padding: 2px 20px 2px 56px; border-radius: 4px;}
.warning{background:#fcfca6; color: black}
.errorlist li{ display: inline-block; }

.warning > #icon{background: rgba(0, 0, 0, 0) url("../img/ico_waring.png") no-repeat scroll 0 0 / 100% auto;
    height: 41px;
    left: 23px;
    position: absolute;
    top: 11px;
    width: 44px;}
.info > #icon{background: rgba(0, 0, 0, 0) url("../img/ico_info.png") no-repeat scroll 0 0 / 100% auto;
    height: 41px;
    left: 23px;
    position: absolute;
    top: 11px;
    width: 44px;}
.table-responsive thead{background: #267cff; color: white;}
.table{margin-top:20px;}
.modal-content>.modal-header{background:#00a7d0 !important; color:white}
.table th{text-align: center;}
label{font-weight:normal !important; font-size:11pt;}
thead tr>th:first-child{border-top-left-radius: 4px;}
thead tr>th:last-child{border-top-right-radius: 4px;}
.form-control{border-radius: 2px; border-top: none; border-left: 0; border-right: 0; transition:  all 400ms}
.form-control:focus{border-width: 2px; border-radius: 0px; font-size: 12pt;}
.table>thead>tr>th {font-family: FontBol; font-weight: normal; font-size: 12pt;}
.pull-right{margin-right: 4px;}
.sub-titulo{font-style: italic; display: inline-block; position: relative;margin-bottom: 20px;}
.sub-titulo::after{border-bottom: 2px solid #00a65a;
    content: " ";
    display: block;
    height: 5px;
    width: 98% }
.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #337ab7;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;

}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  }
/** jQuery Smart Wizard  **/
.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 solid #CCC;
  overflow-x: hidden; }

.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px; }

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center; }

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0; }

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
  background: #267cff;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
  background: #00a65a;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%; }

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto; }

.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px; }

.actionBar {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 5px;
  text-align: right;
  margin-top: 10px; }

.actionBar .buttonDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.actionBar a {
  margin: 0 3px; }

.wizard_verticle .wizard_content {
  width: 80%;
  float: left;
  padding-left: 20px; }

.wizard_verticle ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 20%;
  float: left;
  margin: 0 0 20px; }

.wizard_verticle ul.wizard_steps li {
  display: list-item;
  text-align: center; }

.wizard_verticle ul.wizard_steps li a {
  height: 80px; }

.wizard_verticle ul.wizard_steps li a:first-child {
  margin-top: 20px; }

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_verticle ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #ccc;
  top: 20px;
  width: 4px;
  z-index: 4;
  left: 49%; }

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_verticle ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
  background: #267cff;
  color: #fff; }

.wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_verticle ul.wizard_steps li:first-child a:before {
  left: 49%; }

.wizard_verticle ul.wizard_steps li:last-child a:before {
  left: 49%;
  left: auto;
  width: 0; }

.form_wizard .loader {
  display: none; }

.form_wizard .msgBox {
  display: none; }

/** jQuery Smart Wizard  **/
