{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Venta de contrato" %}<small></small></h2>

</div>
<form method="post" autocomplete="off" id="form_venta_contrato">
    {% csrf_token %}
    <div id="wizard" class="form_wizard wizard_horizontal">
        <ul class="wizard_steps">
            <li>
                <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                    {% trans "Paso" %} 1<br />
                    <small>{% trans "Información académica" %}</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                    {% trans "Paso" %} 2<br />
                    <small>{% trans "Datos del Representante" %}</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                    {% trans "Paso" %} 3<br />
                    <small>{% trans "Datos del alumno" %}</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="#step-4">
                    <span class="step_no">4</span>
                    <span class="step_descr">
                    {% trans "Paso" %} 4<br />
                    <small>{% trans "Información financiera" %}</small>
                    </span>
                </a>
            </li>
        </ul>
            <div id="step-1">
                <p class="col-md-3 col-sm-4 col-xs-6">
                    <label>{% trans "Código de curso" %}</label>
                    {{form.codigo_curso}}
                </p>

                <div class="clear"></div>
                <fieldset class="col-md-5 col-sm-6 col-xs-12">
                    <legend>{% trans "Selección de niveles que desea contratar" %}</legend>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="tb_niveles">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{% trans "Código de nivel" %}</th>
                                    <th>{% trans "Decripción" %}</th>
                                    <th>{% trans "Duración del nivel" %}</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset class="col-md-7 col-sm-6 col-xs-12">
                    <legend>{% trans "Selección de horario de clases" %}</legend>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="tb_horarios">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{% trans "Código de nivel" %}</th>
                                    <th>{% trans "Decripción" %}</th>
                                    <th>{% trans "Cupos Disponibles" %}</th>
                                    <th>{% trans "Edades" %}</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <div class="clear"></div>
            </div>
            <div id="step-2">
                {% csrf_token %}
                <h5 class = "sub-titulo"> {% trans "Datos del titular" %}</h5>
                <div class = "clear"></div>
                <p class="col-md-3 col-sm-4 col-sx-12">
                    <label>{{ form2.rif_cliente.label }}</label>
                    <input class="form-control" id="id_rif_cliente" maxlength="10" name="rif_cliente" required="required" type="text" placeholder="Ctrl+F1 Catálogo clientes"  label = "{{ form2.rif_cliente.label }}">
                </p>
                <p class="col-md-9 col-sm-8 col-sx-12">
                    <label>{{ form2.razon_social.label }}</label>
                    <input label = "{{ form2.razon_social.label }}" class="form-control" id="id_razon_social" maxlength="60" name="razon_social" required="required" type="text" label = "{% trans "Razon social" %}">
                </p>
                <div id="completar_titular" style="display:none">

                    <p class="col-md-4 col-sm-6 col-sx-6">
                        <label>{{ form2.telefono.label }}</label>
                        <input class="form-control" id="id_telefono" name="telefono" required="required" type="text" label = "{{ form2.telefono.label }}">
                    </p>
                    <p class="col-md-4 col-sm-6 col-sx-6">
                        <label>{{ form2.movil.label }}</label>
                        <input class="form-control" id="id_movil" name="movil" required="required" type="text" label = "{{ form2.movil.label }}">
                    </p>
                    <p class="col-md-4 col-sm-6 col-sx-6">
                        <label>{{ form2.telefono_opcional.label }}</label>
                        <input class="form-control" id="id_telefono_opcional" name="telefono_opcional" type="text">
                    </p>
                    <p class="col-md-4 col-sm-6 col-sx-6">
                        <label>{{ form2.correo.label }}</label>
                        <input class="form-control" id="id_correo" maxlength="60" name="correo" required="required" type="text" label = "{{ form2.correo.label }}">
                    </p>
                    <p class="col-md-3 col-sm-6 col-sx-6">
                        <label>{{ form2.estado.label }}</label>
                        {{form2.estado}}
                    </p>
                    <div class="clear"></div>
                    <p class="col-md-12 col-sm-12 col-sx-12">
                        <label>{{ form2.direccion_habitacion.label }}</label>
                        <input class="form-control" id="id_direccion_habitacion" maxlength="200" name="direccion_habitacion" required="required" type="text" label = "{{ form2.direccion_habitacion.label }}">
                    </p>
                    <fieldset>
                        <legend>Complete si es persona natural</legend>
                        <p class="col-md-6 col-sm-6 col-sx-12">
                            <label>{{ form2.fecha_nacimiento.label }}</label>
                            {{form2.fecha_nacimiento}}
                        </p>
                        <p class="col-md-6 col-sm-6 col-sx-12">
                            <label>{{ form2.empresa_labora.label }}</label>
                            {{form2.empresa_labora}}
                        </p>
                        <p class="col-md-6 col-sm-6 col-sx-12">
                            <label>{{ form2.cargo.label }}</label>
                            {{form2.cargo}}
                        </p>
                        <p class="col-md-6 col-sm-6 col-sx-12">
                            <label>{{ form2.antiguedad.label }}</label>
                            {{form2.antiguedad}}
                        </p>

                    </fieldset>
                </div>
            </div>
            <div id="step-3">
                {% csrf_token %}
                <h5 class = "sub-titulo"> {% trans "Datos del alumno" %}</h5>
                <div class = "clear"></div>
                <p class="col-md-2 col-sm-3 col-sx-12">
                    <label>{{ form3.cedula_alumno.label }}</label>
                    <input class="form-control" id="id_cedula_alumno" maxlength="14" name="cedula_alumno" required="required" type="text" placeholder="Ctrl+F1 Catálogo alumnos" onkeypress="return validarNumero(event)">
                </p>
                <p class="col-md-5 col-sm-4 col-sx-12">
                    <label>{{ form3.nombre_alumno.label }}</label>
                    <input class="form-control" id="id_nombre_alumno" maxlength="60" name="nombre_alumno" required="required" type="text" label = "{{ form3.nombre_alumno.label }}">
                </p>
                <p class="col-md-5 col-sm-5 col-sx-12">
                    <label>{{ form3.apellido_alumno.label }}</label>
                    <input class="form-control" id="id_apellido_alumno" maxlength="60" name="apellido_alumno" required="required" type="text" label = "{{ form3.apellido_alumno.label }}">
                </p>
                <div id = "completar_alumno"style="display:none">
                    <p class="col-md-4 col-sm-4 col-sx-12">
                        <label>{{ form3.telefono.label }}</label>
                        <input class="form-control" id="telefono" name="telefono" required="required" type="text" label = "{{ form3.telefono.label }}">
                    </p>
                    <p class="col-md-4 col-sm-4 col-sx-12">
                        <label>{{ form3.movil.label }}</label>
                        <input class="form-control" id="movil" name="movil" required="required" type="text" label = "{{ form3.movil.label }}">
                    </p>                
                    <p class="col-md-4 col-sm-4 col-sx-12">
                        <label>{{ form3.telefono_opcional.label }}</label>
                        <input class="form-control" id="telefono_opcional" name="telefono_opcional" type="text">
                    </p>
                    <p class="col-md-4 col-sm-12 col-sx-12">
                        <label>{{ form3.correo.label }}</label>
                        <input class="form-control" id="correo" maxlength="60" name="correo" required="required" type="text" label = "{{ form3.correo.label }}">
                    </p>
                    <p class="col-md-4 col-sm-12 col-sx-12">
                        <label>{{ form3.fecha_nacimiento.label }}</label>
                        <input class="form-control" id="id_fecha_nacimiento" name="fecha_nacimiento" required="required" type="text" label = "{{ form3.fecha_nacimiento.label }}">
                    </p>
                    <p class="col-md-1 col-sm-6 col-sx-6">
                        <label>{% trans "Edad" %}</label><br>
                        <input type="text" name="edad" id="id_edad" class="form-control" readonly = "readonly">
                    </p>
                    <p class="col-md-3 col-sm-6 col-sx-6">
                        <label>{{ form3.trabaja_guardia.label }}</label><br>
                        <input type="checkbox" name="trabaja_guardia" id="id_trabaja_guardia" class="check">
                    </p>
                    <div class="clear"></div><br>
                    <p class="col-md-12 col-sm-12 col-sx-12">
                        <label>{{ form3.direccion_habitacion.label }}</label>
                        <input class="form-control" id="direccion_habitacion" maxlength="200" name="direccion_habitacion" required="required" type="text" placeholder="Dirección de habitación" label = "{{ form3.direccion_habitacion.label }}">
                    </p>
                    <input type="hidden" name="estado" value="A">
                </div>
            </div>
            <div id="step-4">
                <div class="box-header with-border">
                    <h5 class="sub-titulo">{% trans "Items seleccionados" %}</h5>
                </div>
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped" id="niveles_montos" style="margin-top: 0;">
                        <thead>
                            <tr>
                                <th>{% trans "Código"%}</th>
                                <th>{% trans "Descripción"%}</th>
                                <th>{% trans "Monto Credito"%}</th>
                                <th>{% trans "Monto Contado"%}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-8 col-sx-12"></div>
                <div class="col-md-6 col-sm-8 col-sx-12">
                    <div class="col-xs-12">   
                        <div class="pull-left">
                            <h4 style="text-align: center"><strong>{% trans "Total credito" %}</strong></h4>
                        </div>
                        <div class="pull-right">
                            <h4 id="total_credito"></h4>
                        </div>
                    </div>
                    <div class="col-xs-12">  
                        <div class="pull-left">
                            <h4 style="text-align: center" ><strong>{% trans "Total contado" %}</strong></h4>
                        </div>
                        <div class="pull-right">
                            <h4 id="total_contado"></h4>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <h4 style="text-align: center" ><strong>{% trans "Monto Inscripción" %}</strong></h4>
                        </div>
                        <div class="pull-right">
                            <h4 id="_inscripcion"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h3>{% trans "Seleccione una forma de contrato" %}</h3>
                    <p>
                        <input type="radio" name="forma_pago" value="Credito" checked="checked"><strong>{% trans "Credito" %}</strong><br>
                    </p>
                    <p>
                        <input type="radio" name="forma_pago" value="Contado" ><strong>{% trans "Contado" %}</strong><br>
                    </p>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="pull-left">
                        <h3 style="color:#267CFF">{% trans "Base imponible (Sin inscripción)" %}</h3>
                    </div>
                    <div class="pull-right">
                        <h3 style="#1ABC9C" id="monto_base"></h3>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="pull-left">
                        <h3 style="color:#267CFF" id = "tasa_iva_porcentaje">{% trans "I.V.A" %}</h3>
                    </div>
                    <div class="pull-right">
                        <h3 style="#1ABC9C" id="monto_iva"></h3>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="pull-left">
                        <h3 style="color:#267CFF" >{% trans "Monto tatal del contrato" %}</h3>
                    </div>
                    <div class="pull-right">
                        <h3 style="#1ABC9C" id = "monto_total_pagar"></h3>
                    </div>
                </div>

            </div>
    </div>
    <input type="hidden" name="monto_contrato" id="monto_contrato">
    <input type="hidden" name="iva" id="iva">
    <input type="hidden" name="monto_inscripcion" id="monto_inscripcion">
    <input type="hidden" name="numero_cuotas" id="numero_cuotas">
    <input type="hidden" name="tasa_iva" id="tasa_iva">
    <input type="hidden" name="oferta_curso" id="oferta_curso">


    <input type="hidden" name="vendedor" value="{{vendedor}}">
    {{form.aplica_descuento_referido}}
    {{form.duracion_curso}}
</form>
<style type="text/css">
    .content{min-height: 360px;}
    .stepContainer{min-height: 360px;}
</style>

{% endblock contenido %}

{% block js%}
<script>
$(function(){
    var vendedor = {{vendedor}}
    {% if vendedor == 0 %}
        mostrarMensaje('{% trans "Se ha detectado que usted no está registrado como vendedor en el sistema. si intenta realizar un contrato el mismo no se registrará.." %}')
    {% endif %}

    setTransferFocus($('#step-2'));    
    setTransferFocus($('#step-3'));    
    
    $('#wizard').smartWizard({
        enableAllSteps: false,
        keyNavigation: false,
        labelNext: '{% trans "Paso Siguiente" %}',
        labelPrevious: '{% trans "Paso Anterior" %}',
        labelFinish: '{% trans "Registrar" %}',
        onLeaveStep : siguiente_paso,
        onShowStep : focus_input_paso,
        onFinish: inscripcion,
    });
    $('.buttonNext').addClass('btn btn-success');
    $('.buttonPrevious').addClass('btn btn-primary');
    $('.buttonFinish').addClass('btn btn-default');
})

function catalogoAlumnos(pagina, frase){
    if(!soloLetrasNumeros(frase) && frase.length > 0){
        return;
    }
    NProgress.start();
    $.ajax({
        url: '/ventas/contrato/buscar-datos/',
        type: 'post',
        dataType: 'json',
        data:  {accion : 'getAlumno',pagina: pagina, frase:frase},
        success: function (data) {
            NProgress.done();
            if(data.mensaje == ''){
                footerPaginacionAjax( data.pagina, 'catalogoAlumnos'); 
                $('#from_catalogo table > thead').html('<tr><th>{% trans "Cédula"%}</th><th>{% trans "Nombre"%}</th><th>{% trans "Apellido"%}</th></tr>');
                $('#listado tbody').html(data.datos);
                $('#from_catalogo').modal('show');
                $('#busqueda_sensitiva').focus();
            }else{
                mostrarMensaje(data.mensaje);

            }
        }
    });
}
function catalogoCliente(pagina, frase){
    if(!soloLetrasNumeros(frase) && frase.length > 0){
        return;
    }
    NProgress.start();
    $.ajax({
        url: '/ventas/contrato/buscar-datos/',
        type: 'post',
        dataType: 'json',
        data:  {accion : 'getClientes',pagina: pagina, frase:frase},
        success: function (data) {
            NProgress.done();            
            if(data.mensaje == ''){
                footerPaginacionAjax( data.pagina, 'catalogoCliente'); 
                $('#from_catalogo table > thead').html('<tr><th>{% trans "Rif o Cédula"%}</th><th>{% trans "Nombre o Razon social"%}</th></tr>');
                $('#listado tbody').html(data.datos);
                $('#from_catalogo').modal('show');
                $('#busqueda_sensitiva').focus()
            }else{
                mostrarMensaje(data.mensaje);
            }
        }
    });
}
function inscripcion(objs, context) {
    if (!procesar_inscripcion){
        mostrarMensaje('Disculpe la edad del alumno no está dentro del rango de edades permitidas para este curso.');
    }else{
        $('#form_venta_contrato').submit();
    }
    if (vendedor > 0) {
        $('form').submit();
    }
    return false;
}
</script>
<script src="/static/vendors/jQuery/jquery.smartWizard.js"></script>
<script src="/static/js/venta_contrato.js"></script>
{% endblock js%}