{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Clientes" %}<small></small></h2>
    <div class="clearfix"></div>
</div>
<form method="post">
	{% csrf_token %}

    <p class="col-md-3 col-sm-4 col-sx-12">
        <label>{{ form.rif_cliente.label }}</label>
        {{form.rif_cliente}}
    </p>
    <p class="col-md-9 col-sm-8 col-sx-12">
        <label>{{ form.razon_social.label }}</label>
        {{form.razon_social}}
    </p>
    <p class="col-md-4 col-sm-6 col-sx-6">
        <label>{{ form.telefono.label }}</label>
        {{form.telefono}}
    </p>
    <p class="col-md-4 col-sm-6 col-sx-6">
        <label>{{ form.movil.label }}</label>
        {{form.movil}}
    </p>
    <p class="col-md-4 col-sm-6 col-sx-6">
        <label>{{ form.telefono_opcional.label }}</label>
        {{form.telefono_opcional}}
    </p>
    <p class="col-md-4 col-sm-6 col-sx-6">
        <label>{{ form.correo.label }}</label>
        {{form.correo}}
    </p>
    <p class="col-md-3 col-sm-6 col-sx-6">
        <label>{{ form.estado.label }}</label>
        {{form.estado}}
    </p>    
    <div class="clear"></div>
    <p class="col-md-12 col-sm-12 col-sx-12">
        <label>{{ form.direccion_habitacion.label }}</label>
        {{form.direccion_habitacion}}
    </p>  
    <fieldset>
    	<legend>Complete si es persona natural</legend>
    	<p class="col-md-6 col-sm-6 col-sx-12">
	        <label>{{ form.fecha_nacimiento.label }}</label>
	        {{form.fecha_nacimiento}}
	    </p>
    	<p class="col-md-6 col-sm-6 col-sx-12">
	        <label>{{ form.empresa_labora.label }}</label>
	        {{form.empresa_labora}}
	    </p>
	    <p class="col-md-6 col-sm-6 col-sx-12">
	        <label>{{ form.cargo.label }}</label>
	        {{form.cargo}}
	    </p>
	    <p class="col-md-6 col-sm-6 col-sx-12">
	        <label>{{ form.antiguedad.label }}</label>
	        {{form.antiguedad}}
	    </p>

    </fieldset>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
    	{% if accion == 'actualizar' %}
        	<button class="btn btn-success">{% trans "Actualizar" %}</button>
        {% else %}
        	<button class="btn btn-success">{% trans "Registrar" %}</button>
        {% endif %}
        <a href="/administrativo/cliente/listado/" class="btn btn-primary">{% trans "Listado" %}</a>
        <a href="/administrativo/cliente/registrar/" class="btn btn-default">{% trans "Limpiar" %}</a>
    </div>
</form>
{% endblock contenido %}


{% block js %}
<script>
    $('#id_rif_cliente').mask('a-999999999');
	$('#single_cal2').datepicker({
      language:'es'

    });
</script>
{% endblock js %}