{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Conceptos facturables" %}<small></small></h2>

</div>
<form method="post" id="form" class="form-horizontal form-label-left input_mask">
    {{ form.errors }}
    {% csrf_token %}

    <p class="col-md-3 col-sm-4 col-sx-12">
        <label>{{ form.codigo_concepto.label }}</label>
        {% if accion == 'actualizar' %}
        <input type="text" maxlength="4" name="codigo_concepto" value="{{ form.codigo_concepto.value }}"
               class="form-control" readonly = "readonly" id="id_codigo_concepto">
        {% else %}
        <input type="text" autofocus = "on" maxlength="4" name="codigo_concepto" class="form-control" id="id_codigo_concepto"
               required = "required">
        {% endif %}
    </p>
    <p class="col-md-9 col-sm-8 col-xs-12">
        <label>{{ form.descripcion.label }}</label>
        {{ form.descripcion }}
    </p>
    <p class="col-md-3 col-sm-6 col-xs-12">
        <label>Monto</label>
        {{ form.monto_neto }}
    </p>
    <p class="col-md-2 col-sm-4 col-sx-4">
        <label>{{ form.excento_iva.label }}</label>
        {{ form.excento_iva }}
    </p>
    <div class="clear"></div>
    <p class="col-md-2 col-sm-4 col-xs-6">
        <label>{{ form.estado.label }}</label>
        {{ form.estado }}
    </p>


    <div class="clear"></div>

    <div class="ln_solid"></div>
        <div style="text-align:center">
            {% if accion == 'actualizar' %}
            <button type="submit" class="btn btn-success">{% trans "Actualizar"%}</button>
            {% else %}
            <button type="submit" class="btn btn-success">{% trans "Registrar"%}</button>
            {% endif %}
            <a href="/administrativo/conceptos-factura/listado/" class="btn btn-primary">{% trans "Listado"%}</a>
            <a href="/administrativo/conceptos-factura/registrar/" class="btn btn-default">{% trans "Limpiar"%}</a>
        <div>
</form>
{% endblock contenido %}
{% block js %}

{% endblock js %}