{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Registro de departamentos" %}<small></small></h2>
    <div class="clearfix"></div>
</div>
<form method="post">
    {% csrf_token %}
    <p class="col-md-8 col-sm-8 col-xs-12">
        <label>{{form.departamento.label}}</label>
        {{form.departamento}}
    </p>
    <p class="col-md-4 col-sm-4 col-xs-12">
        <label>{{form.estado.label}}</label>
        {{form.estado}}
    </p>
    <div class="clear"></div>
    <div class="ln_solid"></div>
    <div style="text-align:center">
        <button class="btn btn-success">{{accion}}</button>
        <a href="/administrativo/departamento/listado/" class="btn btn-primary">Listado de departamentos</a>
        <a href="/administrativo/cliente/registrar/" class="btn btn-default">{% trans "Limpiar" %}</a>
    </div>
</form>
{% endblock contenido %}