{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="x_panel">
    <div class="x_title">
        <h2>{% trans "Configurar parámetro de la empresa" %}<small></small></h2>    
        <div class="clearfix"></div>
    </div>  
    <form method="post" action="" class="form-horizontal form-label-left input_mask" id="form" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="col-md-2 col-sm-4 col-xs-12">
        	{% if form.logo == 'None'  %}
                <img  src="/static/img/usuario.png" alt="photo profile" id="foto_actual" class="avatar" style="width:100px;" >
            {% else %}
                <img  src="/media/{{form.logo.value}}" alt="photo profile" id="foto_actual" class="avatar" style="width:104px !important;position: relative">
            {% endif %}

        	<input type="file" name="logo_img" id="logo" class="inputfile">
            
            <label for="logo" class = 'seleccionar_foto_perfil'>
                Cargar foto
            </label>
            
        </p>
    	<p class="col-md-4 col-sm-4 col-xs-12">
    		<label>{% trans "Rif" %}</label>
    		{{form.codigo_empresa}}
    	</p>        
    	<p class="col-md-6 col-sm-6 col-xs-12">
    		<label>{% trans "Razon social" %}</label>
    		{{form.razon_social}}
    	</p>
        <div class="clear"></div>
    	
    	<p class="col-md-12 col-sm-12 col-xs-12">
    		<label>{% trans "Dirección fiscal" %}</label>
    		{{form.direccion_fiscal}}
    	</p>
    	<p class="col-md-4 col-sm-4 col-xs-6">
    		<label>{% trans "Correlativo de facturación" %}</label>
    		{{form.correlativo_factura}}
    	</p>
    	<p class="col-md-4 col-sm-4 col-xs-6">
    		<label>{% trans "Correlativo de control" %}</label>
    		{{form.control_factura}}
    	</p>
    	<p class="col-md-4 col-sm-4 col-xs-6">
    		<label>{% trans "Correlativo de contrato" %}</label>
    		{{form.correlativo_contrato}}
    	</p>
    	<p class="col-md-2 col-sm-4 col-xs-6">
    		<label>{% trans "Tasa de Iva" %}</label>
    		{{form.tasa_iva}}
    	</p>
    	<div class="clear"></div>
        <div class="ln_solid"></div>
        
        <button type="submit" class="btn btn-success">{% trans "Registrar" %}</button>
		<input type="hidden" name="accion" value="{{accion}}">
    </form>
</div>
{% endblock contenido %}

{% block js %}
<script>
    $(function(){
        transferFocus( $('#form') );
        $('#id_codigo_empresa').mask('a-999999999');
        $('#logo').change(function(e){
            handleImage(e)
        });
    });
    
    function handleImage(e){
       NProgress.start();
        var reader = new FileReader();
        reader.onload = function(event){
            var image = new Image();
            image.src = e.target.result;
            image.onload = function(){
                if (image.width < 400) {
                    alert("Please choose a larger size");
                    return false;
                } else if (image.height < 300) {
                    alert("Please choose a larger size");
                    return false;
                }
                if(image.height > image.width){
                    alert("Sorry allowed only horizontal images");
                    return false;
                }
                var canvas = document.createElement('canvas');
                var MAX_WIDTH = 200;
                var MAX_HEIGHT = 200;
                var width = image.width;
                var height = image.height;
                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;

                var ctx = canvas.getContext('2d');
                ctx.drawImage( image, 0, 0, width, height );

                $('#hidden_image').val(canvas.toDataURL());
                //$('#img_canvas').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));
                $('#foto_actual').attr('src',canvas.toDataURL())

            }
            image.src = event.target.result;

            //subitFotoPerfil();
        }
        reader.readAsDataURL(e.target.files[0]);
        NProgress.done();
    }

</script>
{% endblock js %}