{% extends 'base_dashboard.html' %}
{% load i18n %}
{% block contenido %}
<div class="box-header">
    <h2 class="box-title">{% trans "Costo del curso" %}<small></small></h2>

</div>
 <form method="post" id = "form_costo_curso" autocomplete="off">
    {% csrf_token %}
    <p class="col-md-3 col-sm-4 col-sx-12">
		<label>{{form.codigo_curso.label}}</label>
		<input type="text" name="codigo_curso" placeholder="Ctrl+F1 Catálogo de Curso" maxlength="4" id="codigo_curso"
               class="form-control" autofocus ="autofocus" required="required" label = "{% trans 'código de curso' %}">
    </p>
    <p class="col-md-9 col-sm-8 col-sx-12">
        <label>{{form.descripcion.label}}</label>
        <input type="text" name="descripcion" id="descripcion" readonly="readonly" class="form-control">
    </p>
    <p class="col-md-3 col-sm-8 col-sx-12">
        <label>{{form.concepto_inscripcion.label}}</label>
        <input type="text" name="concepto_inscripcion" placeholder = "Ctrl+F1 Catálogo conceptos"
               id="concepto_inscripcion" class="form-control" required="required"
               label = "{% trans 'código de concepto inscripción' %}">
    </p>
    <p class="col-md-9 col-sm-8 col-sx-12">
        <label>{% trans "Descripción del concepto" %}</label>
        <input type="text" readonly="readonly" id="decripcion_concepto_inscripcion" class="form-control">
    </p>
     <p class="col-md-9 col-sm-8 col-sx-12">
       	<label>{% trans "Montos excento de I.V.A" %}? </label><br>
      	<input type="checkbox" name="excento_iva" id="excento" class="check">
    </p>

    <div class = "clear"></div>
    <fieldset id="niveles">
    	<legend>Niveles del curso</legend>
    	<div  class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" id="listado_nivel">
				<thead>
					<tr>
						<th>Código de nivel</th>
						<th>Descripción</th>
						<th>Duración</th>
						<th style="width: 200px">Monto a Contado</th>
						<th style="width: 200px">Monto a Credito</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div style="float: right;" class="col-md-6 col-sm-8 col-sx-12">
				<div class="pull-left">
					<h3 style="text-align: center"><strong>Costo del curso contado</strong></h3>
				</div>
				<div class="pull-right">
					<h3 id="total_contado">0</h3>
				</div>
			</div>
			<div class="clear"></div>
			<div style="float: right;" class="col-md-6 col-sm-8 col-sx-12">
				<div class="pull-left">
					<h3 style="text-align: center"><strong>Costo del curso credito</strong></h3>
				</div>
				<div class="pull-right">
					<h3 id="total_credito">0</h3>
				</div>
			</div>
		</div>
    </fieldset>

    <div class="clear"></div>

    <div class="ln_solid"></div>
    <div style="text-align:center">
        <a id = "btn-enviar" class="btn btn-success">{% trans "Registrar"%}</a>
        <a href="/administrativo/costo-curso/" class="btn btn-default">{% trans "Limpiar"%}</a>
    <div>
 </form>
 
{% endblock contenido %}
{% block js %}
<script>
	
	var numIputFactura, totalizar_costo_credito = 0, totalizar_costo_contado = 0;
	var tipo_concepto = "";

	$(function(){
		setTransferFocus($('#form_costo_curso'));

		$("#codigo_curso").mask("C999");
		$('#btn-enviar').click(function(){
			if(validarForm($('#form_costo_curso input'))){
				$('#form_costo_curso').submit();	
			}
			
		})
		$('#codigo_curso').keydown(function(e){
			if(e.keyCode == 13)
				buscarDatoCurso($(this).val());
			if (e.keyCode == teclaCtrl)
			ctrlPressed = true;

			if (ctrlPressed && (e.keyCode == teclaF1))
				catalogoCurso(1,'');

		});
		$('#concepto_inscripcion').keydown(function(e){
			if(e.keyCode == 13)
				buscarDatoConcepto($(this).val());
			if (e.keyCode == teclaCtrl)
				ctrlPressed = true;
			if (ctrlPressed && (e.keyCode == teclaF1))
				catalogoConceptos();
		});
		$('body').on('keypress','.monto_concepto_credito', function(e){
			if(e.keyCode == 13){
				totalizarCredito();
			}
		})

		$('body').on('keypress','.monto_concepto_contado', function(e){
			if(e.keyCode == 13){
				totalizarContado();
			}
		});
	});
    function buscarDatoConcepto(id_concepto){
      	NProgress.start();
		$.getJSON('/administrativo/costo-curso/?accion=getDatoConcepto&concepto='+id_concepto,
			function (data) {
				NProgress.done();
				if (data.mensaje == ''){
					$('#decripcion_concepto_inscripcion').val(data.descripcion_concepto)
				}else{
					mostrarMensaje(data.mensaje);
					$('#concepto_inscripcion').val('')
					$('#decripcion_concepto_inscripcion').val('')
				}

        });
    }
	function buscarDatoCurso(id_curso){
		NProgress.start();
		$.getJSON('/administrativo/costo-curso/?accion=getDatosCurso&curso='+id_curso,
		function (data) {
			NProgress.done();
			if (data.mensaje == ''){
            	console.log(data)
            	if(data.concepto_inscripcion != 'None'){
					descrip = data.concepto_inscripcion.split('/')
					$('#decripcion_concepto_inscripcion').val(descrip[1].trim())
					$('#concepto_inscripcion').val(descrip[0].trim())
            	}
				$('#listado_nivel > tbody').html(data.datos);
				$('#descripcion').val(data.descripcion_curso);

				if (!data.excento) {
					$('input[type="checkbox"]').prop( "checked", false );
					$('input[type="checkbox"]').iCheck('uncheck');
				}else{
					$('input[type="checkbox"]').prop( "checked", true );
					$('input[type="checkbox"]').iCheck('check');

				}
				$('input[type="checkbox"]').trigger('change');
				totalizarContado();
				totalizarCredito();


			}else{
				mostrarMensaje(data.mensaje);
				$('#codigo_curso').val('')
				$('#descripcion').val('')
			}

        });
	}
	function catalogoCurso(pagina, frase){
		if(!soloLetrasNumeros(frase) && frase.length > 0){
			return;
		}
		NProgress.start();
		$.ajax({
			url: '/administrativo/costo-curso/',
			type: 'get',
			dataType: 'json',
			data:  {accion : 'getCursos',pagina: pagina, frase:frase},
			success: function (data) {
				NProgress.done();
				if(data.mensaje == ''){
					footerPaginacionAjax( data.pagina, 'catalogoCurso');
					$('#from_catalogo table > thead').html('<tr><th>{% trans "Código de curso "%}</th><th>{% trans "Descripción de curso "%}</th></tr>');
					$('#from_catalogo').modal('show');
					$('#from_catalogo table tbody').html(data.datos);
				}else{
					mostrarMensaje(data.mensaje);
				}
			}
		});
	}
	function catalogoConceptos(){
		NProgress.start();
		$.getJSON('/administrativo/costo-curso/?accion=getConceptos',
			function (data) {
				$('#from_catalogo table > thead').html('<tr><th>{% trans "Código de concepto"%}</th><th>{% trans "Descripción"%}</th><th>{% trans "Monto"%}</th></tr>');
				$('#from_catalogo').modal('show');
				$('#from_catalogo table tbody').html(data.datos);
				NProgress.done();

	   });
	}
	function seleccion_concepto(codigo, descripcion){
	  $('#from_catalogo').modal('hide');
			$('#concepto_inscripcion').val(codigo);
			$('#decripcion_concepto_inscripcion').val(descripcion);
	}
	function seleccion_curso(codigo, descripcion){
		$('#from_catalogo').modal('hide');
		$('#codigo_curso').val(codigo);
		$('#descripcion').val(descripcion);
		buscarDatoCurso(codigo);
	}
	function totalizarContado(){
		totalizar = 0;
		$(".monto_concepto_contado").each(function (index) {
			if(parseFloat($(this).val()) > 0){
				totalizar = parseFloat(totalizar) + parseFloat($(this).val())
			}

		});
		$('#total_contado').text(totalizar.toFixed(3))

	}
	function totalizarCredito(){
		totalizar = 0;
		$(".monto_concepto_credito").each(function (index) {
			if(parseFloat($(this).val()) > 0){
				totalizar = parseFloat(totalizar) + parseFloat($(this).val())
			}

		});
		$('#total_credito').text(totalizar.toFixed(3))
	}
</script>
{% endblock js %}
